[2019-04-05 20:48] jeromesimeon opened #1 "Component: Contract Editor"
- https://github.com/accordproject/contract-editor
- In Edit mode can supply values for variables and edit the text of the contract
- In Design mode new variables can be inserted and can drag-drop Clauses into the contract

[2019-04-05 20:49] jeromesimeon commented on #1
Some initial design can be found here: https://github.com/accordproject/template-studio/issues/90

[2019-04-05 20:50] jeromesimeon opened #2 "Component: Template Execution & Testing"
## Execution & Test component
- Provide the ability to execute template logic on a given request, for a given state
- Allow to set the current time
- Allow to select tests based on template's Cucumber tests
- Allow to save a new test into the template

[2019-04-05 20:50] jeromesimeon opened #3 "Component: README.md Editor"
- Based on `markdown-editor`

[2019-04-05 20:51] jeromesimeon opened #4 "Component: Package.json Editor"
- Based on Monaco JSON file support

[2019-04-05 20:52] jeromesimeon opened #5 "Component: Clause Plugin"
- A plugin for the contract editor that knows how to both Edit and Design AP Clauses https://github.com/accordproject/contract-editor/blob/master/src/plugins/clausePlugin.js
- In Edit mode only variable values can be supplied
- In Design mode the grammar text can be edited, variables inserted and their types specified

[2019-04-05 20:52] jeromesimeon opened #6 "Component: Template Library Component"
- https://github.com/accordproject/react-components
- Configurable component to view the contents of an AP format template library

[2019-04-05 20:53] jeromesimeon opened #7 "Component: Ergo (Logic) Editor"
- Based on https://github.com/react-monaco-editor/react-monaco-editor
- We should refactor the VSCode plugin to share the same Language Server and use it with the Monaco editor. https://github.com/TypeFox/monaco-languageclient
- https://langserver.org
- Existing LSP: https://github.com/accordproject/ergo-vscode-plugin/blob/master/server/src/server.ts

[2019-04-05 21:12] jeromesimeon opened #8 "Models and Logic Components should handle adding/removing files"
Potential solution mockup from @Michael-Grover-C from https://github.com/accordproject/template-studio/issues/83

https://invis.io/GNQDQ9HZ5QE#/345313118_no_Template

[2019-04-24 14:21] irmerk commented on #6
Current goals:
- [ ] Implement search logic
- [ ] Publishing to `npm`
- [ ] Details button to serve modal in TSv2
- [ ] Documentation to this point

[2019-04-25 15:59] jeromesimeon opened #17 "Component: Error Logger"
## Error Log
- Shows all the errors (validation errors, compilation errors, parsing errors, testing errors).
- Lets a user filter errors

[2019-05-08 15:22] irmerk opened #31 "TemplateLibrary supports drag-and-drop functionality"
# Related Issues:
- Issue #6

[2019-05-08 15:22] irmerk opened #32 "ContractEditor supports drag-and-drop functionality"
# Related Issues
- Issue #1

[2019-05-08 15:41] irmerk opened #33 "Link ContractEditor to Redux store"
# Related Issues
- Issue #1
- Issue [#23](https://github.com/accordproject/template-studio-v2/issues/23) in TSv2

## Tasks:
- Debug and refactor `ContractEditor` code to ensure it is working.

[2019-05-08 15:41] irmerk opened #34 "Test ContractEditor functionality"
# Related Issues
- Issue #1
- Issue [#23](https://github.com/accordproject/template-studio-v2/issues/23) in TSv2
- Issue #33

## Tasks:
- Contingent upon Issue #33, implement tests for this component.

[2019-05-08 15:50] irmerk opened #35 "Test TemplateLibrary prop methods execution"
# Related Issues
- Issue #6

## Tasks
- Implement unit tests for all prop functions passed in to this component.

[2019-05-08 15:51] irmerk opened #36 "TemplateLibrary Details button serves modal"
# Related Issues
- Issue #6

## Tasks
- One

[2019-05-08 18:27] irmerk opened #37 "Documentation for this repository"
## Tasks
- Create information files for contributors and developers.
- Clarify instructions for components and repo as a whole.
- Add license.

[2019-05-08 19:37] irmerk commented on #37
Finished with #38

[2019-05-08 19:37] #37 closed

[2019-05-13 20:58] jeromesimeon opened #43 "Whitespace Handling"
Loading text with whitespace does not always round-trip in the Clause Editor. For instance the bit of sample text from the volume discount:
[code]

Becomes the following in the markdown window:
[code]

Which leads to parsing issues.

[2019-05-13 20:59] jeromesimeon commented on #43
This can be seen _in vivo_ on the following branch: https://github.com/accordproject/cicero-ui/tree/js-volume-discount-test

[2019-05-20 14:31] irmerk commented on #35
Finished with #48

[2019-05-20 14:31] #35 closed

[2019-05-20 21:05] irmerk commented on #33
@DianaLease does #39 close this issue?

[2019-05-20 21:20] DianaLease commented on #33
yes

[2019-05-20 21:20] #33 closed

[2019-06-13 17:11] irmerk opened #53 "Image Description Accessibility"
# WCAG 2.0 Level A [1.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html) (Non-text Content)

## Tasks
- Use unique and descriptive `alt="..."` tags in images. Ensure all images used for decoration only contain an empty string for `alt`. Describe purpose or meaning of image, and include any text which exists in the image.

## Related Issues:
- Issue [#38](https://github.com/accord

[2019-06-13 17:20] irmerk opened #54 "Table Accessibility"
# WCAG 2.0 Level A [1.3.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-programmatic.html) (Info and Relationships)

## Tasks
- Ensure `table` elements are accessible through proper usage of:
  -  `<thead>` and `<tbody>` for better navigation through a table
  - Column and Row header `<th>` elements need a scope attribute
      - (`<th scope="col">` and `<th scope="row">

[2019-06-13 17:23] irmerk opened #55 "Button Description Accessibility"
# WCAG 2.0 Level A [2.4.4](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-refs.html) (Link Purpose)

## Tasks
- Ambiguous buttons should be more descriptive for screen readers. This can be achieved by creating a visually hidden span with a description in it.

## Related Issues:
- Issue [#40](https://github.com/accordproject/template-studio-v2/issues/40) in Template Studio v2

[2019-06-13 17:26] irmerk opened #56 "ID Attribute Accessibility"
# WCAG 2.0 Level A [4.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/ensure-compat-parses.html) (Parsing)

## Tasks
- All `id` attributes should only be used once.

## Related Issues:
- Issue [#41](https://github.com/accordproject/template-studio-v2/issues/41) in Template Studio v2

[2019-06-13 17:27] irmerk opened #57 "Contrast Minimum Accessibility"
# WCAG 2.0 Level AA [1.4.3](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html) (Contrast (Minimum))

## Tasks
- Contrast ratio should be at least `4.5:1`.

## Related Issues:
- Issue [#42](https://github.com/accordproject/template-studio-v2/issues/42) in Template Studio v2

[2019-06-13 17:30] irmerk opened #58 "Responsive Font Size Accessibility"
# WCAG 2.0 Level AA [1.4.4](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-scale.html) (Resize Text)

## Tasks
- All fonts should be sized relatively, which will be more responsive and allow better accessibility to those who magnify or zoom on their devices. Move away from `px` and instead favor `rem`, `em`, or `%`.

## Related Issues:
- Issue [#43](https://github.com/accordproje

[2019-06-18 20:56] irmerk opened #62 "Template Library Import"
## Current Behavior
- Renders within the Template Studio v2 environment, but lacks `details` and `import` functionality.

## Tasks
- Ensure all three buttons work in a third party environment:
  - `Details` button serving up template information (through Redux)
  - `Import` button handles functionality passed to it properly when connected to Redux
  - `Add to contract` button interacts successfull

[2019-06-18 20:57] irmerk opened #63 "Contract Editor Import"
## Current Behavior
- Handles markdown and rich text editing.

## Tasks
- Ensure connection to a redux store works in a third party environment.

## Related Issues:
- #1
- #62

[2019-06-19 15:08] irmerk opened #65 "AP Documentation Sync"
## Tasks
- Implement updated Accord Project documentation.

## Related Issues:
- Issue #37

[2019-06-21 15:35] irmerk commented on #65
Closed with #61

[2019-06-21 15:35] #65 closed

[2019-06-25 20:03] irmerk commented on #62
Potential future goal of rendering `+ Add to contract` based on props, this is closed with #66, #68, #69, #70, and #71.

[2019-06-25 20:03] #62 closed

[2019-06-27 21:04] irmerk opened #72 "Component Styling Sync"
**Is your feature request related to a problem? Please describe.**
The UI is ready to be linked together with a common theme for cohesiveness, based on props

**Describe the solution you'd like**
All components should accept AP theme props for the correct color scheme.

**Describe alternatives you've considered**
N/A

**Additional context**
Additional work will be done in `Template Studio v2` and

[2019-07-03 14:11] dselman opened #75 "Rendering issue filtering templates"
Filtering of templates in the template library component introduces spaces between each card used for the templates.

**To Reproduce**
Steps to reproduce the behavior:
1. Start typing "acceptance" into the filter box

**Expected behavior**
Templates are filtered and laid out correctly.

**Screenshots**
<img width="381" alt="Screenshot 2019-07-03 at 15 10 44" src="https://user-images.githubusercont

[2019-07-03 15:00] irmerk commented on #72
Closed with #73

[2019-07-03 15:00] #72 closed

[2019-07-03 15:11] irmerk commented on #75
Resolved with #72

[2019-07-03 15:11] #75 closed

[2019-07-08 11:54] dselman opened #76 "Support editable variables"
We need to support a variable serialisation that allows us to lock the documents against edits, except for variable sections.

When a variable is being edited we need to be able to relate the Slate block to the contract model property, so we know the type and how the contract instance (JSON) should be updated.

I think variables in Slate should be represented as "marks" because they apply to a ran

[2019-07-08 16:29] jeromesimeon commented on #76
Here is the current markup generated by the `dynamic-template` branch of Ergo:

[code]

[2019-07-19 14:15] irmerk opened #85 "Component: Model Editor"
**Is your feature request related to a problem? Please describe.**
Provide a specific editor to handle the model files

**Describe the solution you'd like**
Inspiration could be taken from the #7 Logic Editor

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-07-19 14:17] irmerk opened #86 "Component: Clause Template Editor"
**Is your feature request related to a problem? Please describe.**
Provide a specific editor to handle the clause templates

**Describe the solution you'd like**
This likely will happen within the `ContractEditor` and will edit a clause template with rich text formatting

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-07-19 14:22] irmerk opened #87 "Contract-level Variables"
**Is your feature request related to a problem? Please describe.**
Parameter support (contract editor)

**Describe the solution you'd like**
Example of these variables are parties

**Describe alternatives you've considered**
N/A

**Additional context**
Related issues:
- Cicero ()

[2019-07-23 14:26] irmerk opened #89 "Contract Editor Clause Styling"
**Is your feature request related to a problem? Please describe.**
Current clauses within the contract render as style-less blocks.

**Describe the solution you'd like**
Contract Editor clauses need clause styling along with optional props for styling to users' specs

**Describe alternatives you've considered**
N/A

**Additional context**
[Invision Design][invision] from @Michael-Grover

![Accord

[2019-07-29 20:24] DianaLease opened #91 "Component: Contract Navigation Menu"
Navigation Menu for scrolling to headings and smart clauses with in a contract

[2019-08-01 13:46] irmerk commented on #89
Still requires styling of inline clause variables.

[2019-08-07 13:44] irmerk opened #99 "Security Vulnerabilities"
I have yet to be able to fix these vulnerabilities. There may be a case for removing the `yarn.lock` file, as I'm unsure why it exists in the first place. As far as I know, `yarn` should not be used in this repo.

<img width="1003" alt="Screen Shot 2019-08-07 at 9 39 10 AM" src="https://user-images.githubusercontent.com/36460856/62627491-7c19a880-b8f7-11e9-8216-45dcdbe05608.png">

[2019-08-08 20:31] DianaLease opened #103 "`toMarkdown` not working as expected for nodes with type `variable`"
**Describe the bug**
`toMarkdown.recursive()` not working when node contains child node of type `variable`

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate ToMarkdown with VariablePlugin
[code]
2. Call `toMarkdown.recursive` on a clause node that contains child nodes of type `variable`
For example...
[code]
3. Note the output:
[code]

**Expected behavior**
Expect the output to con

[2019-08-12 06:40] dselman commented on #103
I can't reproduce this. I added a test for it here:
https://github.com/accordproject/cicero-ui/blob/master/src/plugins/ClausePlugin.test.js

The snapshot looks like this:

[code]

[2019-08-12 18:00] irmerk opened #105 "TemplateLibrary should use Hooks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For consistency, the `TemplateLibrary` component should be migrated to using [React Hooks](https://reactjs.org/docs/hooks-intro.html).

**Describe the solution you'd like**
Swap from using a `PureComponent` to utilize React Hooks, using oth

[2019-08-12 20:11] #103 closed

[2019-08-19 12:59] irmerk opened #110 "Navigation Scrollbar Fix"
### Related to issue #91

Remove the shadow of a scrollbar when the component is short enough to not need scrolling.

---

![Screen Shot 2019-08-19 at 8 48 34 AM](https://user-images.githubusercontent.com/36460856/63267164-73ae5f80-c25f-11e9-95b3-3bb732c4bafb.png)

[2019-08-19 14:23] irmerk commented on #110
Finished with #111

[2019-08-19 14:23] #110 closed

[2019-08-19 14:25] irmerk commented on #91
Closed as this is ready for export.

[2019-08-19 14:25] #91 closed

[2019-08-21 20:29] #17 closed

[2019-08-21 20:35] irmerk commented on #57
Scan through code and modules to find anything not complying with this guideline

Issues found should be brought to the attention of @Michael-Grover

[2019-08-22 12:51] irmerk opened #116 "ErrorLogger Displaying of "Error" When Single Error Exists"
**Describe the bug**
The `ErrorLogger` is displaying "Errors" when only one error exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Open [Template Studio v2 on Netlify](https://accordproject-studio.netlify.com/)
2. Click on `+ Add to contract` for `Copyright License`
4. See the error component display incorrectly at the bottom of the screen

**Expected behavior**
If only one error exis

[2019-08-22 19:15] #116 closed

[2019-08-22 19:48] Michael-Grover opened #118 "Clause Template Hover Effect"
When the user hovers on a Clause Template, the template name and buttons appear. When the user hovers over a button, it changes color.

@irmerk

https://projects.invisionapp.com/d/main#/console/16741009/380387451/preview
![image](https://user-images.githubusercontent.com/40569793/63544902-2e569000-c4f4-11e9-8ba4-d0afe32f0bb0.png)

[2019-08-22 22:10] Michael-Grover opened #119 "Expandable and collapsible pane UI"
Expand button default and hover
https://projects.invisionapp.com/d/main#/console/16741009/370418065/preview
![image](https://user-images.githubusercontent.com/40569793/63553305-fbb69280-c507-11e9-9f8c-9b800d8677fa.png)

Cursor hovered on pane revealing a subtle border and the collapse button, which is otherwise not visible.
https://projects.invisionapp.com/d/main#/console/16741009/380412036/previe

[2019-08-23 15:07] irmerk commented on #118
Relates to #89

[2019-08-23 15:14] irmerk commented on #119
Closed for [TSv2 Issue 80](https://github.com/accordproject/template-studio-v2/issues/80)

[2019-08-23 15:14] #119 closed

[2019-08-26 19:27] irmerk opened #120 "Clause Template Header Tooltip"
**Is your feature request related to a problem? Please describe.**
IFF the header is truncated, hovering over the text should pop up a tooltip with the full header

**Describe the solution you'd like**
Expound on the hover effect and create a tooltip which will display the full header.

**Describe alternatives you've considered**
Semantic UI React may not be the best route, we may want to create o

[2019-08-27 18:05] irmerk opened #123 "Update Action Testing"
Most components require testing for their functionality - typically found in the `actions.js` folders.

A lot of features have been added lately and the tests need to be keeping up.

Refer to #122 for a starting point.

[2019-08-28 14:39] jolanglinais opened #127 "Remove styled-components from Bundle"
As described in the [`styled-components` official FAQ](https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library), we should remove this package from our bundle.

[2019-08-28 15:08] Michael-Grover opened #128 "Align Clause Text with Contract Text"
![image](https://user-images.githubusercontent.com/40569793/63868052-e3b99580-c983-11e9-9dde-225d6a0b7cee.png)

Currently clause template text is narrower than contract text. They should be the same width so that all text is flush on the left and right sides. It will be more noticeable on the left side since all of the text is left aligned.

Example of proper alignment:

![image](https://user-imag

[2019-08-28 17:20] #127 closed, assigned to nobody

[2019-08-28 18:57] #128 closed, assigned to nobody

[2019-08-30 20:36] irmerk opened #132 "ClauseComponent Header Background"
The linear gradient color behind a `ClauseComponent` header needs to be based off of `clauseProps.CLAUSE_BACKGROUND`

See the declaration of the color [here](https://github.com/accordproject/cicero-ui/blob/master/src/components/styles.js#L26).

[2019-08-30 20:41] DianaLease commented on #132
and the trash can background too 🗑 https://github.com/accordproject/cicero-ui/blob/4d2c4763b2641a047dc2cb6d49fc670b0f5e5e9f/src/components/styles.js#L48

[2019-09-03 17:19] #132 closed

[2019-09-03 17:55] irmerk opened #134 "Handle Duplicate clauseId from Copy/Paste"
# Linked Isues:
#### - [MDE 88](https://github.com/accordproject/markdown-editor/issues/88)
#### - [TSv2 82](https://github.com/accordproject/template-studio-v2/issues/85)

---

**Is your feature request related to a problem? Please describe.**
Incorporate any `clause` specific logic here from [`markdown-editor` Issue 88](https://github.com/accordproject/markdown-editor/issues/88)

Currently, a `u

[2019-09-04 15:55] irmerk commented on #134
Further issues should consider:

- Handling different `transfer.type` situations
  - Editor instance (Slate) to another editor instance (Slate)
  - Raw `HTML` (Chrome to VSCode to Chrome)
  - Editor instance (Slate) to Google Docs and back (recognize `<clause>` formatting)

- Ensure `onPaste` handlers are not doubling up work for any `transfer.type` cases
  - `@accordproject/cicero-ui/src/plugins/

[2019-09-09 15:31] irmerk opened #137 "ErrorLogger Accepts Objects"
**Is your feature request related to a problem? Please describe.**
Revisit `ErrorLogger` logic. Right now, it expects an array of errors every time a clause is parsed. This means if multiple changes cause a clause to be parsed multiple times, the same error will be added to the array multiple times and we end up with multiple of the same error.

**Describe the solution you'd like**
It makes more s

[2019-09-10 21:11] irmerk opened #139 "Cursor Disappear at the Top of Clause Component"
**Describe the bug**
When navigating with a keyboard through the `ContractEditor`, the cursor disappears and cannot be gained back without alt-tabbing or using the mouse

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Template Studio v2](https://accordproject-studio.netlify.com/)
2. Create multiple lines or paragraphs
3. Add a clause template in the middle of these lines
4. Navigate f

[2019-09-11 13:13] irmerk opened #140 "Cicero peerDependency"
This is to track the discussion on the possibility of making `cicero` into a `peerDepencency`.

Conversation points so far from @mttrbrts, @DianaLease, and @jeromesimeon:
- [Reference material as guidance](https://blog.angularindepth.com/npm-peer-dependencies-f843f3ac4e7f)
- This would meet the guideline "_The dependency is visible in your interface_” because using templates, parsing, etc is a lar

[2019-09-11 13:46] irmerk opened #141 "Parse Clause on Paste"
# Linked Isues:
#### - #134
#### - [MDE 88](https://github.com/accordproject/markdown-editor/issues/88)
#### - [TSv2 82](https://github.com/accordproject/template-studio-v2/issues/85)

---

**Is your feature request related to a problem? Please describe.**
Currently a newly pasted clause template from a copied clause template which has parse errors will not be parsed until further editing occurs

[2019-09-13 21:10] irmerk commented on #123
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-13 21:40] irmerk commented on #63
@DianaLease do you know if this issue is relatively done or not?

[2019-09-13 21:45] irmerk commented on #57
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:45] irmerk commented on #58
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:45] DianaLease commented on #63
Yes, this is done :)

[2019-09-13 21:45] #63 closed

[2019-09-13 21:45] irmerk commented on #56
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:46] irmerk commented on #55
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:47] irmerk commented on #53
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:49] irmerk commented on #43
@dselman @jeromesimeon curious if this issue will be closed when `cicero v0.20` is released?

[2019-09-13 21:50] irmerk commented on #34
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-13 21:50] irmerk commented on #32
### Hacktoberfest:
This issue can possibly provide for multiple pull requests.

[2019-09-14 10:24] jeromesimeon commented on #43
It should be... help on testing would be welcome!

[2019-09-18 21:40] irmerk opened #143 "Utilize Cicero v0.20"
**Is your feature request related to a problem? Please describe.**
Once `alpha1` is out for Cicero, update the UI to use the markdown transform stack

**Describe the solution you'd like**
N/A

**Additional context**
- N/A

[2019-09-25 22:04] florenciasilva commented on #58
Hi, again! I would love to work on this to continue what was done in [#89 of template-studio-v2](https://github.com/accordproject/template-studio-v2/pull/89)

[2019-09-27 13:42] irmerk opened #145 "ClausePlugin README"
# ClausePlugin

This should have developer documentation associated with it to showcase how it can be used and its purpose.

[2019-09-27 13:42] irmerk opened #146 "VariablePlugin README"
# VariablePlugin

This should have developer documentation associated with it to showcase how it can be used and its purpose.

[2019-09-27 14:28] nik72619c commented on #105
hi @irmerk , shall I work on this one ?

[2019-09-27 14:33] irmerk commented on #105
Sure thing @nik72619c, this is a great issue.

[2019-10-01 07:04] Anisha1234 commented on #55
Hello @irmerk . I am interested in this issue. I installed the node_moules and tried running the project with npm run start. The code is getting compiled successfully but I am getting a completely blank page in my localhost. The error I am receiving is, ```Uncaught TypeError: Cannot read property 'div' of undefined```. Please help me resolve the issue.

[2019-10-01 13:40] irmerk commented on #55
@Anisha1234 for reference, this is being solved here: https://github.com/accordproject/markdown-editor/issues/90

[2019-10-01 14:25] Anisha1234 commented on #55
@irmerk I am being solve the setup issue by referencing #147. So from now, I would love to focus on the current issue.  I would appriciate more info on the issue. In my localhost, I can see the following with `waiting`
![Screenshot_20191001_194903](https://user-images.githubusercontent.com/16955978/65970704-a4033380-e484-11e9-8a5c-42ceaf01eb8f.png)

[2019-10-01 14:30] irmerk commented on #55
@Anisha1234 You'll most likely want to develop `cicero-ui` within a web-app for the time being. Right now that's easiest in `template-studio-v2`, so you'll use [these instructions](https://github.com/accordproject/cicero-ui#development) and use `template-studio-v2` for your "_main app directory_".

[2019-10-01 14:33] Anisha1234 commented on #55
@irmerk yes, I am being able to run the template-studio-v2 project as well. I would like to know which Ambiguous buttons are we referring here.

[2019-10-01 14:39] irmerk commented on #55
I originally opened this as an open and general issue, mostly following these two links:

1. https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=244#link-purpose-in-context
2. https://www.wuhcag.com/link-purpose-in-context/

I think this will most likely require using a screen reader to go through trial and error to see how links and buttons respond to that software.

[2019-10-01 15:10] Anisha1234 commented on #55
@irmerk I used ChromeVox for trial and error and the link descriptions seem to work fine. Do you want me to give more detailed description to them?

[2019-10-01 15:44] irmerk commented on #55
This could very well be the case. This could also give some indication that more buttons need to be accessible, and thus have descriptions. For instance, the `+ Add to contract` and `Details` buttons in the `TemplateLibrary` on the right of `template-studio-v2` aren't accessible via they keyboard. So we're not seeing that they could very well not have accessible descriptions, either.

These kind o

[2019-10-01 16:42] tingaloo commented on #146
I'll give this one a shot!

[2019-10-01 19:42] irmerk commented on #58
@florenciasilva do you feel like #144 closes this issue for now?

[2019-10-01 19:53] florenciasilva commented on #58
Yes!

[2019-10-01 19:56] irmerk commented on #58
🥳 Thank you!

[2019-10-01 19:56] #58 closed

[2019-10-02 14:04] tingaloo commented on #146
I am trying to run the demo app on the master branch, but i get these error messages.
[code]

Is there a version that has a more stable demo app?

[2019-10-02 14:08] irmerk commented on #146
You'll want to develop `cicero-ui` within `template-studio-v2` with these instructions: https://github.com/accordproject/cicero-ui#development

[2019-10-02 14:20] irmerk commented on #146
@tingaloo are you sure you're working off the latest version of master? The issue you're seeing was fixed in a [`markdown-editor` release](https://github.com/accordproject/markdown-editor/releases/tag/v0.5.16) and a [`cicero-ui` release](https://github.com/accordproject/cicero-ui/releases/tag/v0.0.34)

[2019-10-02 14:22] tingaloo commented on #146
@irmerk doh! you're right. i can work off of this now, thanks!

[2019-10-02 16:06] Niladri24dutta commented on #145
@irmerk Can I work on this ? Where should it be added in documentation?

[2019-10-02 18:01] irmerk commented on #145
I think this could be in `https://github.com/accordproject/cicero-ui/tree/master/src/plugins` unless there is a better idea at the moment.

[2019-10-03 06:20] Niladri24dutta commented on #145
Thanks I will do it accordingly

[2019-10-03 08:59] sameshl commented on #56
@irmerk You can assign me this issue. I would love to work on this. Could you just elaborate a bit on what exactly needs to be done here?

Thanks!

[2019-10-03 09:01] sameshl commented on #57
@irmerk You can assign me this issue. I would love to work on this. Could you just elaborate a bit on how exactly this needs to be done?

Thanks!

[2019-10-03 09:03] sameshl commented on #53
@irmerk I would like to take this up.

[2019-10-03 13:36] irmerk commented on #56
Sure @sameshl, I think I would be looking into guides online on how to be compliant with WCAG 2.1 Level A 4.1.1.

[2019-10-03 13:36] irmerk commented on #57
Sure @sameshl, I think I would be looking into guides online on how to be compliant with WCAG 2.1 Level AA 1.4.3.

[2019-10-03 13:36] irmerk commented on #53
Sure @sameshl, I think I would be looking into guides online on how to be compliant with WCAG 2.1 Level A 1.1.1.

[2019-10-03 15:07] v0idpwn commented on #137
I'd like to help on this one, can you assign me it?

[2019-10-04 19:14] johnnyqbui commented on #120
I'd like to take this if thats ok 🙂

[2019-10-04 22:47] christyjacob4 commented on #139
Hey @irmerk  I'd like to take up this issue :)

[2019-10-06 02:47] monika commented on #56
I don't mean to step on any toes, but I discovered one duplicated svg `id` in this repo while debugging https://github.com/accordproject/template-studio-v2/issues/41

I can submit a PR for that if @sameshl hasn't already.

The other duplicate svg `id`s are in `markdown-editor` which I can take care of if you'd like?

[2019-10-06 02:53] irmerk commented on #56
@sameshl up to you. If they timeout for a few days, @monika it'll be all yours.

Sure, I think working on that issue in `markdown-editor` would be great.

[2019-10-06 02:55] sameshl commented on #56
@monika You can go ahead. I haven't started working on this issue as on now.

[2019-10-06 03:54] monika commented on #56
I'm new to [running unit tests](https://github.com/accordproject/template-studio-v2/blob/master/DEVELOPERS.md#unit-tests) but it looks like one of the tests uses the duplicated `id` value we need to change on `<ClauseComponent />` so it fails. How should I proceed?

<img width="1042" alt="Screen Shot 2019-10-05 at 8 45 57 PM" src="https://user-images.githubusercontent.com/316762/66263984-c8774c80-

[2019-10-06 15:33] MKrupauskas commented on #54
This should probably also be closed as the [related issue in Template Studio v2](https://github.com/accordproject/template-studio-v2/issues/39) was closed. There aren't any tables in this project either :)

[2019-10-06 16:07] #54 closed

[2019-10-06 16:16] irmerk commented on #56
Where is `icon-trash` coming from? This looks like it's the `svg` for the trash icon, where the `id` is set here:
- https://github.com/accordproject/cicero-ui/blob/master/src/icons/trash.js#L6
- https://github.com/accordproject/cicero-ui/blob/master/src/components/ClauseComponent.js#L16

[2019-10-06 18:47] monika commented on #56
Yeah! So because these SVGs are being embedded into the markup as opposed to linked to, their markup is being included in the DOM - including their `id` attributes of which we're seeing duplicates, which is what's causing the validation issue.

For this SVG trash icon, I changed the duplicated `id` from `Page-1` to a unique `id` of `icon-trash`. We could name it anything, really - `toolbar-icon-tr

[2019-10-07 02:18] irmerk commented on #56
You mean they're being duplicated when more than one `ClauseComponent` exists on the page, correct?

If the answer to my previous question is yes, then this would need to be a `uuid`?

Ah, I don't believe we are targeting them via somewhere else. I was under the impression that we needed them.... But we may actually not. @DianaLease thoughts?

Hmm, so it seems it may be better to just remove the `

[2019-10-07 03:38] monika commented on #56
If `ClauseComponent` can exist more then once in the app, yeah we'll run into the duplication problem, yeah.

_Also_ the `id` duplication issue is happening because the SVG icons in the text styling toolbar are also using `id="Page-1`, and several of their nested groups and paths are using `id="Path"`, or `id="Rectangle"`. Because those `id` values exist in more than one of the SVG icons, we're ge

[2019-10-07 13:06] irmerk commented on #56
Yes this is definitely helpful! Thanks for all your contribution on this.

This seems like a mistake when creating the SVG icons for the `FormattingToolbar`. Sounds like we _could_ change them to be unique, but because we don't necessarily use them we should probably just remove them.

[2019-10-07 17:47] monika commented on #56
Happy to help! It looks like the unit test for the `ClauseComponent` includes two `id` properties for the trash can icon though, so the unit test fails if I update or remove the `id`s:

https://github.com/accordproject/cicero-ui/blob/master/src/components/__snapshots__/index.test.js.snap#L27

https://github.com/accordproject/cicero-ui/blob/master/src/components/__snapshots__/index.test.js.snap#L38

[2019-10-08 00:02] irmerk commented on #56
Yes they should. When you've updated the code and run the test, near the bottom should be a command to update the snapshots (`npm test -- -u` or something similar).

[2019-10-08 08:26] sanyamdogra commented on #120
Hey @irmerk, I guess this should be closed after the merge of # 151? Thanks.

[2019-10-08 08:32] sanyamdogra commented on #55
Hi @irmerk,  a `<span>` tag with a `className='sr-only'` can be used to add textual data only for screen readers. I am new to this project, please correct me if wrong. Thanks!

[2019-10-08 12:56] #120 closed

[2019-10-08 17:01] flagoon commented on #137
I would like to take this issue. It's fine to change it to Object, but did you consider using a Set? It will prevent duplicates by default, and maybe it's logic would be easier?

[2019-10-08 17:59] irmerk commented on #137
I have not, actually. @DianaLease @dselman @adriaan-pelzer would this work? I'm not that familiar with `Set`s, looking more into it now.

[2019-10-08 18:14] irmerk commented on #55
@sanyamdogra I'm not as familiar with `sr-only`, but it looks like that's in [Bootstrap](https://v4-alpha.getbootstrap.com/getting-started/accessibility/) for a [Skip To Main](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-skip.html) functionality for screen readers.

[2019-10-08 19:27] flagoon commented on #137
I was wrong, Set is not correct way to deal with it, Map would be better. But I will start with plain Object and I will see where we will get with it.

[2019-10-08 20:33] irmerk commented on #56
Thank you for all your investigating on these issues @monika. Feel like this closes the issue?

[2019-10-08 22:34] monika commented on #56
You're welcome, thanks for organizing such a great way to help via Hacktoberfest!

As far as the audit via [axe](https://www.deque.com/axe/) is showing me, there are no duplicated `id` attributes that it can see. I think this specific issue is closed, yeah!

It might be worth adding a linter or unit test to check `id` attribute usage on components going forward, or run an audit on a semi-regular b

[2019-10-09 13:20] #56 closed

[2019-10-09 20:08] shahsank3t opened #160 "Typo in DEVELOPERS.md"
**Describe the bug**
In DEVELOPERS.md ([here](https://github.com/accordproject/cicero-ui/blob/master/DEVELOPERS.md#building-cicero-ui)), URL of the main repository to be added as upstream has a typo in it. `acccordproject` should be `accordproject`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DEVELOPERS.md](https://github.com/accordproject/cicero-ui/blob/master/DEVELOPERS.md#buildi

[2019-10-09 20:12] shahsank3t commented on #160
@irmerk - can you please add some labels to this and assign it to me so I could quickly open a PR for this?

[2019-10-09 21:51] shahsank3t commented on #160
Raised PR: https://github.com/accordproject/cicero-ui/pull/162

[2019-10-09 21:57] #160 closed

[2019-10-10 20:24] flagoon commented on #137
Hey, I have a problem to test my solution. I tried to link the library to my application and test it, but each time I have error connected  to hooks. "Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:" I tried to debug it, and I can't see any problem. Can you help me with that? I'm using clean CRA, React 16.1

[2019-10-10 20:34] DianaLease commented on #137
Hi @flagoon . This is an issue when using `npm link`. You'll want to edit your webpack config as shown in here: https://github.com/facebook/react/issues/13991#issuecomment-435587809

However, it might make sense to connect with @Ph0tonic on their PR in template-studio-v2 here: https://github.com/accordproject/template-studio-v2/pull/107. It would be great to test your solution within their branch

[2019-10-11 08:31] irmerk commented on #137
Second everything from @DianaLease, and note that `template-studio-v2` is a great sandbox for development of `cicero-ui`.

[2019-10-12 14:48] Innovator007 commented on #105
Is this issue resolved or can i work on it?

[2019-10-12 14:50] Innovator007 commented on #86
Can you describe more about this issue?

[2019-10-13 12:15] irmerk commented on #105
I believe it's all yours @Innovator007

[2019-10-13 12:17] irmerk commented on #86
@Innovator007 I think following along in our process with `cicero-ui` and `template-studio-v2`, as well as joining a couple working group calls, would be the best bet on getting up to speed on this project.

[2019-10-14 07:54] Innovator007 commented on #105
Hi @irmerk i have added a pull request [here](https://github.com/accordproject/cicero-ui/pull/166), please can you review it :)

[2019-10-14 10:09] irmerk opened #167 "ErrorLogger Testing"
**Is your feature request related to a problem? Please describe.**
There are no existing tests for `ErrorLogger`, and there is a recent change to make it accept an object rather than array

**Describe the solution you'd like**
Implement unit tests

**Describe alternatives you've considered**
N/A

**Additional context**
Related Issues:
- #137
- [TSv2 #86](https://github.com/accordproject/template-s

[2019-10-14 10:10] irmerk commented on #167
Should be assigned to @flagoon

[2019-10-14 11:00] #105 closed

[2019-10-14 16:42] Lawrence4code commented on #139
If this is still open, I'd like to work on it, thanks.

[2019-10-14 17:02] netochaves commented on #167
I would like to work on this

[2019-10-14 18:10] flagoon commented on #167
Am I assigned to it? I will start working on it right away.

[2019-10-16 17:21] arshadkazmi42 opened #168 "Broken link in CONTRIBUTING.md"
Code of Conduct URL is broken in [CONTRIBUTING.md](https://github.com/accordproject/cicero-ui/edit/master/CONTRIBUTING.md)

It is redirecting to https://github.com/accordproject/docs/blob/master/Accord%20Project%20Code%20of%20Conduct.pdf

I am sending a PR with this URL https://lfprojects.org/policies/code-of-conduct/

[2019-10-16 19:01] #168 closed

[2019-10-16 21:24] irmerk opened #314 "Variable Background Colors"
**Is your feature request related to a problem? Please describe.**
Variables should have customizable background colors, as well as only having colors in `lockText` mode.

**Describe the solution you'd like**
Allow for props to dictate the color of the variables, and only display this when `lockText` is true.

**Describe alternatives you've considered**
Open to input.

**Additional context**
Refer

[2019-10-17 07:44] Innovator007 commented on #99
Hi @irmerk i researched about yarn.lock file and it says that it holds the version of the dependencies in it on yarn install and we should keep that in order to get the same output for every developer.

[2019-10-17 07:51] mttrbrts commented on #99
Thanks @Innovator007 , you're correct. The real issue is that we should not have both `yarn.lock` and `package-lock.json`.

Most other AP repos use `npm` (which produces  `package-lock.json`) rather than `yarn` (which produces `yarn.lock` ).

[2019-10-17 08:56] Innovator007 commented on #99
Yes i agree with you @mttrbrts i can remove it and it won't affect anything but although we can run tests and confirm.

[2019-10-17 08:56] Innovator007 commented on #99
Can i work on this?

[2019-10-17 14:21] irmerk commented on #137
I believe this issue is closed, but work continues in #167

[2019-10-17 15:06] irmerk commented on #53
Opening this back up after 14 days stale.

[2019-10-17 15:06] irmerk commented on #57
Opening this back up after 14 days stale.

[2019-10-17 15:07] irmerk commented on #118
I believe this issue is finished.

[2019-10-17 15:07] #118 closed

[2019-10-17 15:08] irmerk commented on #145
Opening this back up after 14 days stale.

[2019-10-17 15:10] irmerk commented on #146
Opening this back up after 15 days stale.

[2019-10-18 03:46] Innovator007 commented on #99
Hi @irmerk i have made a pull request [here](https://github.com/accordproject/cicero-ui/pull/171), have tested and everything works fine, can you review it. Thanks :)

[2019-10-18 05:08] devcer commented on #53
Hi @irmerk, I would like to work on this but looks like there isn't any `img` tag in the whole of cicero-ui. Am I missing something?

[2019-10-18 10:31] Innovator007 commented on #34
Can i work on this issue?

[2019-10-18 10:41] #99 closed

[2019-10-18 10:52] Innovator007 commented on #167
Is this issue still open?

[2019-10-18 10:53] Innovator007 commented on #146
Can i work on this?

[2019-10-18 11:03] mttrbrts commented on #34
@irmerk any further guidance for @Innovator007 ?

[2019-10-18 13:09] Innovator007 commented on #34
yeah tell me so i can work on it asap :)

[2019-10-18 13:23] irmerk commented on #167
@Innovator007 I believe @flagoon is working on it, feel free to collaborate on that.

[2019-10-18 13:33] irmerk commented on #34
Sure thing. The `ContractEditor` is using `markdown-editor`, which is built on [SlateJS](https://docs.slatejs.org/). We want to build a robust set of unit tests to ensure a number of user actions are tested, and this will give us a better idea of what changes we make will do to the functionality of the editor.

So this issue can have multiple PRs. Some ideas off the top of my head:

- Add a mocked

[2019-10-18 13:52] flagoon commented on #167
I'm working on it, but some personal things happened and didn't have enough time for it. I stuck a little on testing Error.js component, but I should finish this weekend.

[2019-10-18 13:58] Innovator007 commented on #146
Hi @irmerk can you review my pr [here](https://github.com/accordproject/cicero-ui/pull/172)

[2019-10-18 14:01] irmerk commented on #53
@devcer sorry I could've been more clear in the original post. I created as many issues as I could think of relating to A11Y to try and cover as much as I could. There could very well be no issue regarding WCAG 2.0 Level A 1.1.1. I'll close this issue.

[2019-10-18 14:01] #53 closed

[2019-10-19 09:00] Innovator007 commented on #34
Hi @irmerk so do i have to write the test for each of the above test cases?

[2019-10-19 12:37] irmerk commented on #34
@Innovator007 You specifically don't have to, but that is what this issue is tracking: unit testing this component (`ContractEditor`) for as many scenarios as possible.

[2019-10-19 13:33] Innovator007 commented on #34
Okay cool, i will give this a shot.

[2019-10-20 04:39] sahalsaad commented on #34
HI @Innovator007, since there is 4 points suggested. Can we split?

[2019-10-20 11:09] Innovator007 commented on #34
Hi @sahalsaad yeah sure we can split it i have started to approach first so i think you can proceed with 3rd and fourth :)

[2019-10-20 14:25] sahalsaad commented on #34
@Innovator007 . Sure . Thanks

[2019-10-21 13:06] Innovator007 commented on #34
Welcome @sahalsaad :)

[2019-10-21 21:15] DianaLease opened #179 "User can backspace last character of variable and edit locked text"
**Describe the bug**
A user can edit locked text around a variable by removing the last character of the variable and continuing to type. If a user clicks somewhere else, they can no longer edit the new text added to the locked text and the clause will be broken with no way to fix it.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a clause while lockText is true
2. Remove the last chara

[2019-10-21 21:31] irmerk opened #180 "Filter Templates by Cicero Version"
**Is your feature request related to a problem? Please describe.**
The [`TemplateLibrary`][templ] component should have the capability to filter by [cicero][cicero] version

**Describe the solution you'd like**
The component should accept a `semver` expression as a prop to dictate which cicero version to filter

**Describe alternatives you've considered**
Open to input

**Additional context**
N/A

[2019-10-21 21:37] r-a303931 commented on #180
Do you mind if I try to tackle this issue?

[2019-10-21 22:21] dselman commented on #180
Please use this package to filter versions:
https://www.npmjs.com/package/semver

A `semver.satisfies` filter will ensure that the user can specify the versions they would like.

[2019-10-22 14:14] irmerk commented on #139
@christyjacob4 and @Lawrence4code, any update on this? Opening it up in the meantime.

[2019-10-22 14:19] irmerk commented on #167
@flagoon feel like this is closed with #177?

[2019-10-22 14:27] irmerk commented on #146
Closed with #172

[2019-10-22 14:27] #146 closed

[2019-10-22 15:19] sahalsaad commented on #34
Hi @irmerk . I look into this. But not sure how to write the above use case in unit test. Seems like more to e2e test.

The only unit test I can see is to test the `value` or `onChange` logic.

[2019-10-22 15:24] irmerk commented on #34
We'll want to do as many unit tests as possible, and if e2e is a better route then we should probably pursue that.

[2019-10-22 15:45] sahalsaad commented on #34
Currently there is no e2e setup yet for this project. Maybe can have a ticket for setup the e2e?
I will add unit test based on what I mention above.

[2019-10-23 13:02] Innovator007 commented on #34
Hi @irmerk can you explain to me how to add a mocked clause template to test since i am a little bit confused.

[2019-10-23 17:53] jeromesimeon commented on #180
@irmerk This issue should be moved to Cicero (Transfer issue button works great for things like that) with a `alpha-0.20` label.

[2019-10-23 18:22] irmerk commented on #180
I believe @dselman was discussing this as a feature in `TemplateLibrary`

[2019-10-23 18:23] jeromesimeon commented on #180
I understood `TemplateLibrary` to be: https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/templatelibrary.js

[2019-10-23 18:24] irmerk commented on #180
Ah no, it's linked in the original post: https://github.com/accordproject/cicero-ui/tree/master/src/TemplateLibrary

[2019-10-23 18:24] jeromesimeon commented on #180
Hence my question, is this Cicero UI? Cicero? or both?

[2019-10-23 18:26] irmerk commented on #180
@dselman and @DianaLease may have input.

[2019-10-23 19:34] Michael-Grover opened #183 "Search bar styling"
Change the search bar styling to match [this mockup](https://invis.io/9GRP1QB8D2U#/370418068_contract_-_Clause_Edit_Within_Contract_Editor_Dark). Click "inspect" in the lower right corner to view the CSS. You may need to request access. You can ignore everything about the mockup except the search bar.

![image](https://user-images.githubusercontent.com/40569793/67427597-62a90400-f5aa-11e9-92b1-67b

[2019-10-23 19:37] Michael-Grover opened #184 "Button styling"
Change the button styling to match [this mockup](https://invis.io/9GRP1QB8D2U#/370418068_contract_-_Clause_Edit_Within_Contract_Editor_Dark). Click "inspect" in the lower right corner to view the CSS. You may need to request access. You can ignore everything about the mockup except the button styling

![image](https://user-images.githubusercontent.com/40569793/67427884-02ff2880-f5ab-11e9-983a-cb94

[2019-10-23 20:21] abnazhor commented on #184
I would love to work on this, can I?

[2019-10-23 20:21] Michael-Grover commented on #184
@abnazhor yes, thank you. Let me know if you need any more details

[2019-10-23 20:26] ENeska commented on #183
Can I work with this issue? ;)

[2019-10-23 20:27] Michael-Grover commented on #183
@ENeska yes, thank you. Let me know if you need any more details

[2019-10-23 21:04] ENeska commented on #183
@Michael-Grover I have a question. Did I build the project well? Because my console is "red" :(

![image](https://user-images.githubusercontent.com/24510802/67433961-6dcf5480-f5e9-11e9-864a-a01a617a8d72.png)

[2019-10-23 21:05] Michael-Grover commented on #183
@irmerk @DianaLease or @jeromesimeon may be able to help with code related questions

[2019-10-23 21:09] irmerk commented on #183
@ENeska those are quite recent warnings from `React` that don't quite matter at the moment, so you can disregard them.

[2019-10-24 14:10] DianaLease opened #186 "Debounce parse inside clause on change"
**Is your feature request related to a problem? Please describe.**
Currently, a clause is parsed on every change to the clause. This can be debounced while a user is typing to improve performance.

**Describe the solution you'd like**
Debounce parse inside clause on change.

[2019-10-24 15:46] irmerk opened #187 "ErrorLogger Displays Only 4-5 Errors"
**Describe the bug**
The `ErrorLogger` component only displays 4-5 errors max

**To Reproduce**
Steps to reproduce the behavior:
1. Open the [Netlify demo of TSv2](https://accordproject-studio.netlify.com)
2. Add 6-8 clauses
3. Type a letter at the beginning of each one to cause a parse error
4. Open the `ErrorLogger` at the bottom
5. Notice only 4 or 5 are displayed

**Expected behavior**
This co

[2019-10-24 16:22] abnazhor commented on #183
Hello, can I work on this?

[2019-10-24 17:40] Michael-Grover commented on #183
Hi @abnazhor , it looks like @ENeska is no longer working on this, so sure go for it. Thank you

[2019-10-24 19:41] irmerk opened #188 "Contract Editor Scrollbar is Obtrusive"
**To Reproduce**
Steps to reproduce the behavior:
1. Run locally with `cicero-ui` linked through `npm link`
2. Add enough line breaks to show the scroll bar, add twice as many more
3. Scroll to the bottom and notice the scrollbar background cutting into the toolbar

**Expected behavior**
The scrollbar should either have no background or begin below the toolbar

**Screenshots**
![Screen Shot 2019-1

[2019-10-24 19:41] irmerk commented on #188
@V1shvesh is working on this currently.

[2019-10-24 19:54] Michael-Grover commented on #184
Thanks again @abnazhor

[2019-10-24 19:54] #184 closed

[2019-10-24 22:15] jeromesimeon commented on #143
We're at `0.20.0-beta.2` now ;) Maybe this issue should be renamed to simply `0.20` ?

[2019-10-26 09:55] ravijyoti310 commented on #188
can I also work on it??

[2019-10-26 11:22] Innovator007 commented on #183
Is this thing done or can i work on it?

[2019-10-26 11:23] Innovator007 commented on #34
Hi @irmerk i am a bit confused on how to approach this thing can you suggest me some route to follow?

[2019-10-26 14:09] anusha5695 commented on #187
Hi I would like to work on this

[2019-10-26 14:44] abnazhor commented on #183
@Innovator007 Working on it!

[2019-10-26 15:02] irmerk commented on #188
@v1shvesh your call, could you use help?

[2019-10-26 15:12] irmerk commented on #34
@Innovator007 sure, I was thinking of taking the approach from [the demo code](https://github.com/accordproject/cicero-ui/blob/master/demo/src/index.js) and using that as a basis to initialize unit tests and check for attributes, making sure `lockText` was on or off, that you can add characters outside a clause when it is on, etc.

[2019-10-26 18:10] anusha5695 commented on #32
Hi @irmerk : Can I pick this?

[2019-10-26 18:15] anusha5695 commented on #187
Hi @irmerk : I have pushed the changes.

[2019-10-26 20:52] irmerk commented on #32
Sure thing. This will be a challenging one, but we'll want to be able to drag and drop to the current cursor placement at first, then we could probably iterate and be able to drag and drop to anywhere we want.

[2019-10-27 04:35] starblind commented on #57
![image](https://user-images.githubusercontent.com/453473/67629759-319e2d00-f851-11e9-91b3-9e642c3e44b1.png)

Add to Contract - 2.5

[2019-10-27 04:35] starblind commented on #57
![image](https://user-images.githubusercontent.com/453473/67629784-a6716700-f851-11e9-91e6-e89ecf7fd795.png)

The background color on hover in the style menu - 1.19-1.5

[2019-10-27 04:37] starblind commented on #57
![image](https://user-images.githubusercontent.com/453473/67629787-df114080-f851-11e9-99a1-69fefe287ba6.png)

Clause title block - 2.68 - should be at least 3

[2019-10-27 05:09] CDharmateja commented on #57
@starblind Thanks for mentioning. There are few more contrast issues. I was actually working on this issue in Template Studio v2 repo. Most of them are to be done in this repo. Are you working on this?

[2019-10-27 05:49] starblind commented on #57
nope, I just reported it

[2019-10-27 18:19] V1shvesh commented on #188
I don't think it's a complex enough issue to require two devs working on this. But nevertheless,  I'll share my progress by tomorrow. We'll find out if we could indeed use any more hands on this.

[2019-10-28 14:51] #187 closed

[2019-10-28 19:26] irmerk commented on #167
@flagoon pinging again.

[2019-10-29 07:20] V1shvesh commented on #188
Working on this rn, I'll post an progress update soon.

[2019-10-29 07:52] V1shvesh commented on #188
So, the actual issue is in `@accordproject/markdown-editor`. I went inside and tried fixing the issue by giving the component `EditorWrapper` a fixed height and `overflow-y: scroll`.

It is unfortunate for this to be happening again, but I guess we should post this issue there.

@irmerk I've updated the code and will submit a PR there soon.

[2019-10-29 13:55] irmerk commented on #188
@V1shvesh yeah I think that would be best. Essentially copy paste this issue, but then link this issue as a related issue so there is context of where it originated from.

[2019-10-29 14:13] parammittal16 opened #203 "Fix readme typo"
**Describe the bug**
A clear and concise description of what the bug is.
Readme typo

**To Reproduce**
Steps to reproduce the behavior:
Fix readme typo

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Brow

[2019-10-31 06:51] Innovator007 commented on #34
Hi @irmerk ,sorry but i am unassigning myself since couldn't find a way to implement this, i think @sahalsaad can do a better job at testing stuff :)

[2019-10-31 08:12] flagoon commented on #167
Hey @irmerk, yes, it was closed already. I'm not sure what happened. Probably my big fingers messed up the commit number.

[2019-10-31 12:42] irmerk commented on #34
#197 makes a good impact on this issue. Closing for now.

[2019-10-31 14:14] irmerk commented on #34
@sahalsaad there is [an error](https://travis-ci.org/accordproject/cicero-ui/builds/605527291#L682) with one of the tests:

[code]

[2019-11-01 15:38] sahalsaad commented on #34
Hi @irmerk . I can't replicate that issue. I saw the latest build also successful. Is there any special steps to replicate that issue ?

[2019-11-01 17:32] irmerk commented on #34
I commented out the test in #207, so it should be just uncommenting it and running the test.

[2019-11-06 14:48] dselman opened #209 "Block quote toolbar works in lock text mode"
**Describe the bug**
Can use the block quote toolbar button, when the editor is in lockText mode.

**To Reproduce**
1. npm run dev
2. http://localhost:8080
3. Set the cursor inside the clause
3. Press the block quote toolbar button
4. See that the clause text is modified

**Expected behavior**
When in lock text mode the clauses should not be modifiable.

[2019-11-06 14:51] dselman opened #210 "List toolbar button works in lock text mode"
**Describe the bug**

Can use the list toolbar buttons, when the editor is in lockText mode.

To Reproduce

1. npm run dev
1. http://localhost:8080
1. Set the cursor inside the clause
1. Press either of the list buttons
1. See that the clause text is modified

**Expected behavior**

When in lock text mode the clauses should not be modifiable.

[2019-11-06 14:52] dselman opened #211 "Link toolbar button works in lock text mode"
**Describe the bug**

Can use the link toolbar button, when the editor is in lockText mode.

To Reproduce

1. npm run dev
1. http://localhost:8080
1. Set the cursor inside the clause
1. Press the link toolbar button
1. See that the clause text is modified

**Expected behavior**

When in lock text mode the clauses should not be modifiable.

[2019-11-06 14:55] dselman opened #212 "Cannot edit a link"
**Describe the bug**
Once inserted a link cannot be edited, as pressing the link toolbar button removes the link.

**To Reproduce**
1. Press the link button to insert a link
2. Press the link button again, to edit the link
3. Note that the link has been removed

**Expected behavior**
Pressing the link button when a link has already been inserted should allow the user to edit the link. It would als

[2019-11-06 15:00] dselman opened #213 "Lists are not being rendered correctly"
**Describe the bug**
Ordered and unordered lists are not being rendered correctly.

**To Reproduce**
1. type the text: one, two, three (on separate lines)
2. select the text
3. press the ordered list button
4. the formatting changes but no number prefix is displayed
5. note same behaviour for bulleted lists

**Expected behavior**
Lists should be rendered correctly.

[2019-11-06 15:03] dselman opened #214 "Hitting enter after a heading inserts blank line"
**Describe the bug**
Hitting enter after a heading inserts blank line

**To Reproduce**
Steps to reproduce the behavior:
1. Position cursor at end of "Heading One" in the editor
2. Hit enter
3. Note that an extra blank line has been inserted

**Expected behavior**
Enter after headings should not insert an extra blank line.

[2019-11-06 15:04] dselman opened #215 "Support keyboard shortcuts"
Add keyboard shortcuts for common formatting commands, like bold, italics etc.

[2019-11-06 15:21] irmerk commented on #213
Relates to [`markdown-editor` PR #174](https://github.com/accordproject/markdown-editor/pulls/174)

[2019-11-06 15:21] irmerk commented on #212
Relates to [`markdown-editor` Issue #143](https://github.com/accordproject/markdown-editor/issues/143)

[2019-11-06 15:21] irmerk commented on #211
Relates to [`markdown-editor` Issue #122](https://github.com/accordproject/markdown-editor/issues/122)

[2019-11-06 15:21] irmerk commented on #210
Relates to [`markdown-editor` Issue #122](https://github.com/accordproject/markdown-editor/issues/122)

[2019-11-06 15:21] irmerk commented on #209
Relates to [`markdown-editor` Issue #122](https://github.com/accordproject/markdown-editor/issues/122)

[2019-11-06 20:15] irmerk commented on #180
Refer to #181 before starting this issue.

[2019-11-06 20:36] DianaLease commented on #214
Possibly coming from this logic in markdown-editor: https://github.com/accordproject/markdown-editor/blob/383c3f95c0367af75260f09b5e4b9e13e6d9e539/src/SlateAsInputEditor/index.js#L362

[2019-11-08 15:37] #213 closed

[2019-11-08 15:37] #186 closed

[2019-11-08 15:42] irmerk commented on #43
Closed with [this release](https://github.com/accordproject/cicero-ui/releases/tag/v0.2.0)

[2019-11-08 15:42] #43 closed

[2019-11-08 15:42] irmerk commented on #143
Closed with [this release](https://github.com/accordproject/cicero-ui/releases/tag/v0.2.0)

[2019-11-08 15:42] #143 closed

[2019-11-08 21:44] DianaLease commented on #214
I have tried all of the solutions in the comments on this issue but have not gotten anything to work yet: https://github.com/ianstormtaylor/slate/issues/97

[2019-11-11 19:28] #211 closed

[2019-11-11 19:28] #210 closed

[2019-11-11 19:28] #209 closed

[2019-11-18 20:15] irmerk commented on #76
@DianaLease is this essentially finished with work like #223?

[2019-11-18 20:20] DianaLease commented on #76
@irmerk Yes. I think the last part (`Clicking on a variable should open a type-specific editor (such as a calendar editor for a DataTime variable)`) should be made into a separate issue if it is not already.

[2019-11-18 20:20] #76 closed

[2019-11-18 20:22] irmerk opened #225 "Variable Modal"
**Is your feature request related to a problem? Please describe.**
Clicking on a variable should open a type-specific editor (such as a calendar editor for a DataTime variable)

This is separate from the issue of creating a variable when editing or creating a template.

We need type specific editors for the following variables:

- date & time (optional timezone offset)
- address
- monetary amount

[2019-11-19 14:13] DianaLease opened #226 "Error Logger should handle errors in various formats"
**Describe the bug**
The Error Logger component causes the app to crash when it receives an error in an unexpected format (ie. `Error: Parsing clause text returned a null AST. This may mean the text is valid, but not complete.`) The Error Logger should be resilient and adapt to display this type of error.

[2019-11-19 16:34] jeromesimeon commented on #226
There should probably be a catch all for exceptions?

[2019-11-19 17:36] Michael-Grover commented on #225
@irmerk do you know of any frameworks/plugins/whatever you'd call them for type specific form fields like address, calendar, time, etc?

[2019-11-19 21:04] #134 closed

[2019-11-19 21:04] #141 closed

[2019-11-19 21:05] Michael-Grover commented on #225
Before a user chooses a variable type
https://projects.invisionapp.com/d/main#/console/16741009/388109653/preview

After a user chooses a variable type
https://projects.invisionapp.com/d/main#/console/16741009/388109652/preview

[2019-11-21 19:46] Michael-Grover opened #230 "Bulleted list variables"
For lists with variables, allow a user to hover over the clause template to see add and delete buttons. click an add button to add another instance of the list item, with the new list item's variables set to the previous list item's variables by default. Click the minus button to remove that list item.

https://ancient-voice-6638.animaapp.io
![image](https://user-images.githubusercontent.com/40569

[2019-11-21 19:52] jeromesimeon commented on #230
Only part of the text inside a list would be editable. How would we make the distinction?

Example from the volume discount with a list:

<img width="705" alt="Screenshot 2019-11-21 at 2 50 06 PM" src="https://user-images.githubusercontent.com/670099/69371792-8aa18b00-0c6e-11ea-877f-db500e41cfed.png">

[2019-11-21 20:32] Michael-Grover commented on #230
@jeromesimeon I addressed your comment in the edited description for this issue

[2019-11-21 22:04] Michael-Grover commented on #230
[icons.zip](https://github.com/accordproject/cicero-ui/files/3876963/icons.zip)

Here are the icons for the issue

[2019-11-21 22:28] Michael-Grover opened #232 "Type specific editor"
We need type specific editors for the following variables:
 - date
 - time
 - address
 - monetary amount
 - list
 - phone number
 - string
 - number

![image](https://user-images.githubusercontent.com/40569793/69382074-43be9000-0c84-11ea-99ec-51ddcc511177.png)

[2019-11-22 17:40] Michael-Grover commented on #225
![image](https://user-images.githubusercontent.com/40569793/69447762-33122680-0d25-11ea-9126-2aa424ae98c5.png)

[2019-11-22 20:18] Michael-Grover opened #233 "Conditional variables UI"
**Is your feature request related to a problem? Please describe.**
As a user I would like to enable and disable conditional variables, and to switch between two options in conditional variables.

**Describe the solution you'd like**
See this Loom video explaining the UI:
https://www.loom.com/share/694e7927a744475a98b1cf81154c3673

Smart Clause with three conditional variables, marked with red text

[2019-11-22 21:50] irmerk opened #234 "Prevent Undo on Clause Addition"
**Is your feature request related to a problem? Please describe.**
When a clause template is added, a user should not be able to undo that action.

**Describe the solution you'd like**
Prevent undo if the previous action was a clause addition

[2019-11-25 13:43] irmerk commented on #232
Closed for #225

[2019-11-25 13:43] #232 closed

[2019-11-25 20:37] #139 closed

[2019-11-26 16:23] #179 closed

[2019-11-26 21:34] #183 closed

[2019-11-27 19:14] irmerk opened #237 "Raise Error for Unsupported Templates"
**Is your feature request related to a problem? Please describe.**
We need a short term solution to notify users that certain Cicero v0.20 features are not supported in the UI:
- variable lists
- nested lists
- conditionals
- code blocks

**Describe the solution you'd like**
Add a query `isSupported` to the `ClausePlugin`

**Additional context**
We don’t want Cicero to know about the limitations o

[2019-12-03 09:48] dselman commented on #226
I've modified `cicero-core` to use a `ParseException` for all code branches:
https://github.com/accordproject/cicero/commit/1020d127ef9ef20d010a3f040de5a8c405a47f6e

Once this change is released it should resolve this issue.

[2019-12-05 14:38] jeromesimeon commented on #237
PR #239 has some initial support for detecting / rejecting Slate DOMs with unsupported features.

The list of features deemed unsupported is a little longer than that indicated in the issue:
   - conditional variables
   - computed variables
   - list variables
   - code blocks
   - html blocks or inlines
   - images
   - nested lists

Let me know if this is wrong.

[2019-12-06 16:48] DianaLease opened #240 "Search in template library component not working for display name"
**Describe the bug**
Search in template library component not working for display name

**To Reproduce**
Steps to reproduce the behavior:
1. Type "Late De" into search bar
2. See no clauses show up

**Expected behavior**
Late Delivery and Penalty should show up

[2019-12-06 16:52] DianaLease opened #241 "Allow user to specify search font color"
**Describe the bug**
The new white color for search field does not look good when application using the template library is using a light background

**Screenshots**
![Screen Shot 2019-12-06 at 11 50 18 AM](https://user-images.githubusercontent.com/20543103/70340431-c87de200-181e-11ea-9c72-816d4b1d78e3.png)

[2019-12-06 22:56] #240 closed

[2019-12-11 15:35] jeromesimeon commented on #237
@irmerk @DianaLease Can we consider this issue closed with #242 ?

[2019-12-11 15:36] #237 closed

[2019-12-11 15:38] jeromesimeon opened #251 "PASTE: Trying to Paste a Clause raises errors, does nothing"
When trying to copy/paste a clause within the UI raises some error:

[code]

[2019-12-11 15:48] irmerk commented on #251
The [demo][demo] for this repo has no `pasteToContract` in it currently, which is likely causing the issue. The function is required in the [README][readme].

[demo]: https://github.com/accordproject/cicero-ui/blob/master/demo/src/index.js
[readme]: https://github.com/accordproject/cicero-ui/blob/master/src/plugins/README.md

[2019-12-12 21:59] jeromesimeon opened #253 "Variables in clauses include formatting, but most likely shouldn't?"
**Describe the bug**
One can apply markdown formatting to the content of variables in `lockText` mode. e.g.,

<img width="755" alt="Screenshot 2019-12-12 at 4 57 44 PM" src="https://user-images.githubusercontent.com/670099/70752449-a1348280-1d00-11ea-9d3c-48df6f348c56.png">

It is most likely going to result in confusing parsing issues on Clauses.

**To Reproduce**
Steps to reproduce the behavior:

[2019-12-18 23:04] #253 closed

[2019-12-30 01:39] simpleshadow commented on #214
Got it working in 0.57 with:

[code]

Some sort of timing issue — either due to rendering, the key down, or Slate. Not ideal so will dig into it.

[2019-12-30 01:39] simpleshadow commented on #214
@DianaLease Got it working in 0.57 but not ideal. https://github.com/ianstormtaylor/slate/issues/97#issuecomment-569561247

[2019-12-30 15:35] DianaLease commented on #214
Thanks, @simpleshadow! We are not yet ready to update to 0.57 since Slate made substantial changes and we'll have to have a plan for migration, but this is good to keep in mind when we do.

[2020-01-07 15:54] DianaLease commented on #230
What happens if a user removes all list items and then tries to add a list item? Should a user be allowed to remove all list items?

[2020-01-08 16:14] irmerk commented on #225
There could be consideration for tabbing between variables, and on focus maybe the popup appears?

[2020-01-09 15:21] irmerk opened #264 "Adding Clause Template Within Clause Template"
**Describe the bug**
A user is allowed to add a clause template within another one.

**Expected behavior**
Adding a clause within a clause should be blocked.

**Screenshots**
[Loom recording](https://www.loom.com/share/ab1f7297ce594a66a777489c0c770bcb) by @Michael-Grover

**Additional context**
Cannot replicate in TSv2. I think we still should have a check in `cicero-ui` or lower in the stack to e

[2020-01-09 19:08] DianaLease opened #265 "Variables inside of lists are not editable when lockText is true"
**Describe the bug**
When lockText is true, all variables should be editable. However, it seems that variables inside of a list are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a clause template that has a variable inside of a list
2. Add the template to a contract
3. Try to edit the variables
4. Variables are not editable and you can see the log "input - in variable false" in

[2020-01-09 19:12] DianaLease commented on #265
Issue with checking if we are in a variable here: https://github.com/accordproject/cicero-ui/blob/master/src/utilities/inVariable.js#L8

[2020-01-13 20:12] #265 closed

[2020-01-29 21:42] Michael-Grover opened #269 "No visual indication of clause template search bar highlighting"
If I type text in the clause template search bar and then attempt to highlight the text, there is no visual indication that the text is highlighted, however I know the text is highlighted because if I press backspace, highlighted text will be deleted. I just can't see what's highlighted.

![image](https://user-images.githubusercontent.com/40569793/74977876-90d40e80-53f9-11ea-9b1a-2742185e5d7e.png)

[2020-02-03 15:44] DianaLease opened #270 "Headings without text cause error"
**Describe the bug**
Headings without text cause error
`TypeError: Cannot read property 'length' of undefined at truncateHeading`

[2020-02-03 16:59] #270 closed

[2020-02-05 14:15] irmerk opened #273 "Edit and Testing Buttons"
**Is your feature request related to a problem? Please describe.**
Clause Components should have icons in addition to delete in order to edit and test.

**Describe the solution you'd like**
Add icons with customizable functionality.

**Additional context**
@Michael-Grover please provide AP colors

[2020-02-05 14:18] Michael-Grover commented on #273
the same colors as the trash icon
![image](https://user-images.githubusercontent.com/40569793/73849783-82320880-47f8-11ea-887e-d0cbc6b281ab.png)

[2020-02-05 15:41] #273 closed

[2020-02-06 15:25] jeromesimeon commented on #233
Currently, there is not enough information in the SlateDOM to know what the alternative text of a variable is. One possibility to address that is to change the MD representation for conditional variables to always have the alternative text.

Proposed format is as follows:
[code]

[2020-02-06 19:09] DianaLease opened #276 "Restyle navigation sizing"
**Is your feature request related to a problem? Please describe.**
Headings in navigation can appear to be truncated prematurely, especially on larger screens

**Describe the solution you'd like**
Either:
1. Make width of the navigation component adjust based on screen size and use CSS to determine when to truncate & add the ellipsis [text-overflow - CSS: Cascading Style Sheets \| MDN](https://dev

[2020-02-06 19:29] Michael-Grover commented on #276
I think solution two relates to expandable and collapsible sidebars. the following linked issue gives the sidebars boundaries that can be dragged.

https://github.com/accordproject/template-studio-v2/issues/80

[2020-02-10 22:33] irmerk opened #280 "Variable Deletion with Selection"
**Describe the bug**
If a user highlights an entire variable from the end quotation mark (`...regular text "Variable"`) and presses backspace, the variable and some of the locked text can be removed.

**Additional context**
N/A

[2020-02-10 22:39] #280 closed

[2020-02-11 15:56] irmerk opened #282 "Clause Component Error UI"
The clause component should also have an indication of an error, not just the `ErrorLogger`

[2020-02-17 19:00] #89 closed

[2020-02-17 19:02] #6 closed

[2020-02-17 19:02] #1 closed

[2020-02-17 19:03] #188 closed

[2020-02-17 19:16] #264 closed

[2020-02-20 20:13] adrijshikhar commented on #269
i would like to work on this issue

[2020-02-20 20:48] Michael-Grover commented on #269
Hi @adrijshikhar , I've assigned you to the issue, thank you! Let me or @irmerk know if you have any questions. I will add more detail to the description of this issue

[2020-02-20 20:56] Michael-Grover commented on #269
@adrijshikhar I added more detail and a video to the issue description

[2020-02-21 17:01] adrijshikhar opened #289 "Missing entries in .gitignore"
**Describe the bug**
.vsocde and .dist are two folders that are created by Visual Studio Code.
.vscode contains the local settings for that workspace.
.dist is created by C++ extension in vscode.
These are local changes made and hence should be present in .gitignore so that no one accidentally commits these files.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal and go to the

[2020-02-21 21:48] #226 closed

[2020-02-21 23:18] irmerk commented on #289
I'm not sure I understand the purpose of this, I don't think the repository has an issue with a `.vscode` or `.dist` folder.

[2020-02-22 05:16] adrijshikhar commented on #289
`.vscode` contains a file named `settings.json`, which contains the local settings for the vscode in that particular workspace. So if anyone accidentally commits this, and some other guy pulls his changes and his vscode will create its own `settings.json` which will increase the number of line changes and might break some of the custom changes that this user has applied to his vscode.

[2020-02-22 05:31] adrijshikhar commented on #269
I have set up the repo `cicero-ui` but it does not look like what it is in the video. Am I missing something?

[2020-02-22 05:38] Michael-Grover commented on #269
I'm not sure, @irmerk or @DianaLease may be able to help with this on Monday.

Until then I recommend checking out this information @jeromesimeon posted in the Accord Project Slack if you are interested in participating in Google Summer of Code with the Accord Project

For everyone who just joined: Welcome! Here are several useful pointers:
Google Summer of Code “How it Works” (including the timel

[2020-02-22 05:42] adrijshikhar commented on #269
Thanks.

[2020-02-22 12:47] raghav4 commented on #145
@irmerk , I'm working on this!

[2020-02-22 16:54] ankingcodes commented on #269
@adrijshikhar I faced the same problem when I had set up this repo.

Could you help me set this up ?

[2020-02-22 18:06] elit-altum opened #293 "Update React LifeCycle Methods"
**Describe the bug**
The life cycle methods ```componentWillMount``` and ```componentWillReceiveProps ``` have been deprecated and are declared unsafe for use (React v16.3) . These should be renamed to the new lifecycle methods.

**To Reproduce**
Steps to reproduce the behavior:
1. On opening the app a browser warning will be found in the console for the same

**Expected behavior**
The lifecycle m

[2020-02-22 18:07] elit-altum commented on #293
@irmerk Please review and suggest!

[2020-02-23 16:47] irmerk commented on #269
@adrijshikhar @ankingcodes the README should likely be updated to better explain this, but the demo that runs locally by default in the repository is only the `ContractEditor`, not the `TemplateLibrary` component.

`template-studio-v2` is the project which uses all these components at the moment. So local development of components *other than* `ContractEditor` will either take `template-studio-v2`

[2020-02-23 16:54] ankingcodes commented on #269
@irmerk this turned out to be a safer route for me.

i did clone the `template-studio-v2` repo and set it up , but the README there also was unclear about how `npm link` works. I'd be glad if either the README is updated or if you could explain how that works here.

[2020-02-24 09:20] adrijshikhar commented on #269
I linked the development version of `cicero-ui` with `template-studio-v2` and made the changes. I am not able to get your point, can you please elaborate it a bit? Thanks

[2020-02-24 09:40] adrijshikhar opened #294 "Misspell across the repo"
There are spelling mistakes across the repo.

[2020-02-24 14:55] #289 closed

[2020-02-24 14:59] irmerk commented on #293
Where are these being used? I would imagine updating the component to React Hooks would be a better solution.

[2020-02-24 15:04] irmerk commented on #294
You'll want to make the change to the README in all the other repos as wel:

[code]

[2020-02-24 15:06] #269 closed

[2020-02-24 15:11] adrijshikhar commented on #294
Ok i will.
PS: `cicero-vscode-extension` does not have any spelling mistake errors.

[2020-02-24 15:30] adrijshikhar commented on #55
@irmerk i would like to work on this issue, can you please assign to me. Thanks

[2020-02-24 22:06] irmerk commented on #233
Reopening for this/that conditionals

[2020-02-25 06:49] elit-altum commented on #282
@irmerk  Can I work on this ?

[2020-02-25 06:56] elit-altum commented on #57
Hey @irmerk I'd like to work on this. Could you please assign it to me ?

[2020-02-25 14:22] irmerk commented on #282
@elit-altum feel free. Make sure to review the work I had done so far in #284. This one is tricky because Slate doesn't necessarily re-render when props passed to it change, so it may take some workaround like [`decorations`](https://docs.slatejs.org/v/v0.47/slate-react/plugins#decoratenode) or [`annotations`](https://docs.slatejs.org/v/v0.47/slate-react/plugins#renderannotation).

[2020-02-25 14:48] jerrybuks opened #299 "npm link "@accordproject/cicero-ui" fails with permission issues"
I'm trying to setup this repo, so as to contribute but  when I run "npm link @accordproject/cicero-ui", I get this error
![Screenshot from 2020-02-25 15-42-50](https://user-images.githubusercontent.com/39066907/75258070-3d413680-57e6-11ea-8df0-a1f1a8327182.png)

[2020-02-25 14:56] jeromesimeon commented on #299
@jerrybuks Why do you want to link? What are you trying to do?

Looking at the trace it seems to be looking in `/usr/local/lib` is that where your `@accordproject/cicero-ui` package is? Did you check the permissions in that folder?

[2020-02-25 15:07] jerrybuks commented on #299
The development guide mentions doing the linking as part of the steps for setting up the repo for development. I did try ignoring this step and just running "npm start" but the site spun up doesn't seem to be the  complete UI, but seems to contain only the editor, as I can't find the navigation bar
![Screenshot from 2020-02-25 15-58-21](https://user-images.githubusercontent.com/39066907/75259509-7

[2020-02-25 15:09] jeromesimeon commented on #299
Cicero UI are React components not a full UI. You can use them to create your own UI if you want. That demo looks right!

[2020-02-25 15:09] jeromesimeon commented on #299
@irmerk Are the developers instructions up to date?

[2020-02-25 15:19] jerrybuks commented on #299
ooh, okay, I wanted to contribute to an issue opened by Diana concerning "Restyling the navigation size", please how do I get to preview changes I make to Cicero Ui components, like the Navigation component? should I just import the components in the file being displayed in the demo, so I can preview then remove the import when I'm done?

[2020-02-25 15:21] jeromesimeon commented on #299
That's a really good question. I think we've been using https://github.com/accordproject/template-studio-v2 to test those components in context. Maybe @irmerk or @DianaLease can confirm?

[2020-02-25 15:25] DianaLease commented on #299
That is what we were doing. I think it would be good to get them in the cicero-ui demo though to test easily there. That would be a good thing to add and keep (as opposed to removing when you are done @jerrybuks)

[2020-02-25 15:25] irmerk commented on #299
Yes we are using `template-studio-v2` heavily as a development environment for `cicero-ui`. You should have two terminals open, one to your `cicero-ui` and one to `template-studio-v2`

In `cicero-ui` run:
1. `npm install`
2. `npm run build`
3. `npm run transpile`
4. `npm link`
Then in `template-studio-v2` run:
1. `npm install`
2. `npm link @accordproject/cicero-ui`
3. `npm run start`

Now making c

[2020-02-25 15:27] DianaLease commented on #299
You could just hard code some test data for the navigation component like we do with the content of the editor in the demo. I think that would be the easiest way to work on the styling.

[2020-02-25 15:54] jerrybuks commented on #299
okay, it makes a lot more sense now. @irmerk don't you think this process of relying on the templating studio makes contributing a bit more difficult. Guess I will just do as @DianaLease said, so as to work on the styling when I'm done with that I will probably open a feature request to implement Diana's suggestion - "I think it would be good to get them in the cicero-ui demo though to test easily

[2020-02-25 15:57] jerrybuks commented on #299
will be really cool to update this " https://github.com/accordproject/cicero-ui#development", as explicitly as you did her, cause this isn't so clear as it doesn't mention the need for the "template-studio-v2"

[2020-02-25 16:04] jeromesimeon commented on #299
The demo in cicero UI and the demo in template studio v2 serve very different purposes. In Cicero UI you only test individual components. Template studio v2 has more of a real UI organization notably with a redux store which lets you test interaction between those components.

[2020-02-25 18:06] elit-altum commented on #282
T

@irmerk Thank you for the heads up, this will surely help!

[2020-02-25 20:53] #57 closed

[2020-02-26 11:43] jerrybuks commented on #299
okay, thanks for the clarification.

[2020-02-26 14:11] jerrybuks commented on #276
can I work on this?

[2020-02-26 14:31] DianaLease commented on #276
Sure, go ahead! I'll assign it to you.

[2020-02-26 14:45] jerrybuks commented on #276
okay, on it

[2020-02-26 16:22] elit-altum opened #301 "Toggle lockText button UI improvements"
**Is your feature request related to a problem? Please describe.**
The toggle text button is central to the functionality and could use some UI improvements. Including it's margin, color etc.

**Describe the solution you'd like**
If approved, I'd like to work on modifying it's appearance and position by getting inputs from someone from the community and then discussing possible UI enhancements.

*

[2020-02-26 16:26] elit-altum commented on #301
@irmerk If you approve this, I intend to use the local styling if only the button has to be customised, or I can create a site theme as recommended on http://learnsemantic.com/developing/customizing.html#customizing-ui-elements for any more elements that may need improvements.

[2020-02-26 19:21] irmerk commented on #301
I believe this is leftover that no one has gotten around to removing. We either don't need this anymore, or there is still the issue of toggling a `lockText` property and having it take effect in the Slate editor. @dselman @DianaLease is this stale or still an issue?

[2020-02-26 20:10] DianaLease commented on #301
The button is just there to test the `lockText` functionality, which is working. I don't think it is necessary to style it. It's good to keep in the demo to test new features easily in both states of lockText true and false.

[2020-02-26 21:39] elit-altum commented on #301
Thank you for your review @DianaLease and @irmerk.
I thought it would be an improvement of the general UI by implementing this. I also wanted to add some info text which would indicate clearly that the slate text maybe edited or not along with a lock/unlock toggler icon.

If this is not required, should I proceed to close the issue?
Thank you.

[2020-02-26 22:48] #233 closed

[2020-02-27 14:31] irmerk commented on #301
I think because this is in the demo, it's not a priority - there are a lot of other issues that could be more useful to focus on.

[2020-02-27 14:31] #301 closed

[2020-02-27 16:36] elit-altum commented on #293
@irmerk I can't pinpoint them exactly. Maybe they are from the semantic UI. But will it be fine if I refactor the Welcome component to a functional component, as it does use componentDidMount and instead the useEffect hook would be able to handle that better using dependencies ?
It would also help in cleaning up the code significantly.

[2020-02-27 17:11] 98lenvi commented on #215
Can I work on this?

[2020-02-27 17:16] elit-altum commented on #293
@irmerk One more thing, while trying to refactor the components I also found the fix to https://github.com/accordproject/template-studio-v2/issues/135 . Do you still want the change of colors? (as this issue was closed)

![image](https://user-images.githubusercontent.com/41413622/75468249-ea68aa00-59b2-11ea-9eaf-c96dd43c156d.png)

[2020-02-28 06:32] shrey-sachdeva2000 commented on #188
Hi @irmerk, I'd like to work on this if this is still unresolved. Although, I'm not sure how I can view changes to the UI as this issue seems to originate from `markdown-editor` as previously mentioned.

[2020-02-28 08:28] 98lenvi commented on #215
I have already implemented it and I'm currently working on refactoring the code. Please assign it to me  XD

[2020-02-28 17:50] #293 closed

[2020-02-28 18:37] elit-altum commented on #241
@DianaLease I think this issue is resolved. Can this be closed?

[2020-02-28 18:57] #145 closed

[2020-02-28 19:26] irmerk commented on #241
Yes I believe so

[2020-02-28 19:26] #241 closed

[2020-02-28 20:05] elit-altum commented on #188
Hey @irmerk I have made some progress on this. Can you help me with further details, like animations, icons etc. ?
Sorry @shrey-sachdeva2000 I didn't know you were working on it. I followed the issue trail from https://github.com/accordproject/markdown-editor/issues/175

![Added-Animation](https://user-images.githubusercontent.com/41413622/75583421-8e298700-5a93-11ea-84cf-d9d33c4316d1.gif)

[2020-02-28 20:58] shrey-sachdeva2000 commented on #188
No problem @elit-altum, please go ahead!

[2020-02-28 22:56] irmerk commented on #188
@shrey-sachdeva2000 and @elit-altum I believe this issue is resolved. If you can produce a similar issue or the same one without being in `template-studio-v2`, then open another issue.

[2020-02-29 09:13] jerrybuks commented on #276
I've created a pull request for this feature, please review. [https://github.com/accordproject/cicero-ui/pull/313](url)

[2020-02-29 15:02] elit-altum commented on #188
@irmerk This issue was closed on it's trail because it went stale. I think this functionality is not yet present.

[2020-02-29 16:37] irmerk commented on #188
I don't think there is an issue with the scrollbar anymore. @DianaLease you fixed that, correct?

[2020-02-29 17:17] elit-altum commented on #314
@irmerk  Could you tell me if there is any prop which can be accessed by the ```.variable``` class to indicate if the ```lockText``` is true or false ?

[2020-02-29 17:28] irmerk opened #315 "Developer Focused Demo"
Our demo needs updating and upgrading to easily develop and locally test all the components and their functionality.

Recommended to look into and utilize [Storybook](https://storybook.js.org/)

The main components to include initially:
- [ ] `ContractEditor`
- [ ] `TemplateLibrary`
- [ ] `ErrorLogger`
- [ ] `Navigation`

Note: These components do _**NOT**_ need to be hooked up to each other, just

[2020-02-29 17:37] irmerk commented on #314
Not sure I understand the question completely, but you could find `lockText` in [this function](https://github.com/accordproject/cicero-ui/blob/master/src/plugins/VariablePlugin.js#L93-L109), probably off the `editor`.

[2020-02-29 17:45] elit-altum commented on #314
It's not there. It returns ```undefined```

[2020-02-29 17:54] elit-altum commented on #314
@irmerk I have made the ```backgroundColor``` property responsive to ```editor.props.lockText```. It looks something like this :

![image](https://user-images.githubusercontent.com/41413622/75612562-a8726c00-5b4a-11ea-82b3-5815a98ae731.png)

Contrast of yellow : blue is 9.55

[2020-02-29 17:57] irmerk commented on #314
Yes that works, we can provide more feedback then!

[2020-02-29 18:04] elit-altum commented on #314
@irmerk Please review!
https://github.com/accordproject/cicero-ui/pull/316

[2020-02-29 18:11] elit-altum commented on #315
I'd like to give this a try. I have some past experience with storybook.

[2020-03-02 14:19] jerrybuks commented on #230
Does this Issuse, still need someone to work on it ?

[2020-03-02 14:54] irmerk commented on #230
@jerrybuks it does. If you're interested, I would review the work done in #233, it will likely be similar to the work needed for this issue.

[2020-03-02 15:40] Michael-Grover commented on #230
Let's say that when there is only one list item, the user can not remove that item. They can only edit that item or add another item.

[2020-03-02 16:04] irmerk opened #320 "Reduce Prop Reliance"
We should not be in the habit of relying on a lot of styling props for individual fields. This practice has gotten out of hand:

[code]

All of these should be removed and we should instead rely on a strong system of structured class names. This will allow users to handle what these props currently do via overriding the CSS.

[2020-03-02 16:57] jerrybuks commented on #230
okay, yeah, I'm interested.

[2020-03-02 17:56] kanav-raina commented on #320
I would like to work on this.
Kindly assign this to me

[2020-03-02 18:09] 98lenvi commented on #123
I'd like to try this. Please assign it to me

[2020-03-02 18:42] irmerk commented on #320
I think it makes the most sense for the person working on the related issue to do this as well, @98lenvi

[2020-03-02 19:51] kanav-raina commented on #320
Ok

[2020-03-03 12:14] 98lenvi commented on #320
I'll start with [markdown edito r#255](accordproject/markdown-editor#255), If the approach looks good, then I'll apply the same here as well.

[2020-03-04 14:32] #276 closed

[2020-03-04 15:05] irmerk commented on #123
I was thinking more about an integrations test approach, where we mock the activity of a user to make sure changes don't necessarily alter that functionality. So, for instance, if the `ContractEditor` has a clause template in it:
- is the user unable to edit text?
- Is the user able to edit the variables?
- can the user click on a conditional variable?

[2020-03-04 21:42] Michael-Grover opened #322 "Make Clause Template background color lighter"
Change clause template background color from #ECF0FA to #F9FBFF to increase contrast. Increased contrast will improve accessibility and allow more flexibility for how we design future improvements like this: https://github.com/accordproject/cicero-ui/issues/314

Current
![image](https://user-images.githubusercontent.com/40569793/75925552-de5b6d00-5e36-11ea-960b-2fdbfdc2c269.png)

Proposed
![image]

[2020-03-05 05:17] shrey-sachdeva2000 commented on #322
Can I work on this one? @Michael-Grover

[2020-03-05 15:25] Michael-Grover commented on #322
Sure

On Thu, Mar 5, 2020, 12:17 AM Shrey Sachdeva <notifications@github.com>
wrote:

[2020-03-05 17:37] elit-altum commented on #322
@shrey-sachdeva2000 @irmerk This is actually a continuation of my PR here at https://github.com/accordproject/cicero-ui/pull/318#issuecomment-594607135 so I had already made the changes along with the colors and margins. Should I continue now ?

[2020-03-05 17:43] shrey-sachdeva2000 commented on #322
I didn't mean to step on any toes @elit-altum. Was just making the PR when you commented. I don't mind taking it back if you'd like!

[2020-03-05 17:47] elit-altum commented on #322
I don't know now. I guess some formatting changes were also to be made which were discussed in the previous PR. I think we should let @irmerk and @Michael-Grover decide

[2020-03-05 18:11] elit-altum commented on #322
@shrey-sachdeva2000 I will move on to handle the spacing and margins instead.

[2020-03-05 18:31] irmerk commented on #322
@elit-altum sorry! I didn't fully read through the issue again before merging #323

[2020-03-05 18:33] elit-altum commented on #322
No problem @irmerk!
I'll make a separate PR for spacing and borders as suggested by @Michael-Grover

[2020-03-06 12:30] jerrybuks commented on #230
could someone please point me to any AP template, where bulleted lists are being used, so as to enable me to do some inspection and know what components am supposed to be working on

[2020-03-06 14:27] irmerk commented on #230
Yes! https://templates.accordproject.org/volumediscountulist@0.2.1.html

[2020-03-06 15:37] jerrybuks commented on #230
@irmerk, I'm trying to find a template,  where the issue in #233, which led to #288 is being used, but I can't find any, could you please point me to any template where "conditional variables" is being used

[2020-03-06 16:00] irmerk commented on #230
OH Conditional variables are used in https://templates.accordproject.org/latedeliveryandpenalty@0.15.1.html

[2020-03-06 16:16] jerrybuks commented on #230
okay, thank you. I observed this only when running cicero-ui locally, but when running template studio both locally and even on the Accord site, the conditional variable feature seems not to be available/working, is this intentional?

[2020-03-06 16:18] jeromesimeon commented on #230
@jerrybuks Not sure if template studio v2 has been updated to the latest Cicero UI?

[2020-03-06 16:23] jerrybuks commented on #230
ooh!, okay, I get...

[2020-03-06 19:05] irmerk commented on #322
Whoopsie, reopening because the Clause Header that shows on hover needs it's gradient color updated to be in line with this new background color.

[2020-03-06 19:09] elit-altum commented on #322
@irmerk Can I handle this?

[2020-03-06 19:23] #322 closed

[2020-03-07 16:35] a4aditya opened #328 "Broken Links in Readme.md"
**Describe the bug**
The Link for the highlighted text on the screenshot is broken. The two of the component don't have a repository also.
Link to the Readme File: https://github.com/accordproject/cicero-ui/blob/master/README.md
![#3](https://user-images.githubusercontent.com/39999719/76146962-e11bc380-60bd-11ea-8d77-ff5aa73926f9.PNG)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'R

[2020-03-09 11:23] nik72619c opened #329 "Bold button does not work"
**Describe the bug**
The bold button should make the highlighted text bold, but it does not. The corresponding shortcut for it works as intended the button does not produce the desired effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the project (either in prod version or development)
2. Select the text which you want to make bold
3. Click on the `B` icon for making the text bold

[2020-03-09 11:49] nik72619c commented on #329
I guess this issue needs to be filed on the markdown-editor repo. Please let me know I should close this issue and file it in the markdown-editor repo.

[2020-03-09 12:17] jerrybuks commented on #329
@nik72619c can confirm this issue, cause it works well on my end

[2020-03-09 12:20] nik72619c commented on #329
Its not working on my end. Could you provide the steps for reproducing it?

[2020-03-09 12:34] jerrybuks commented on #329
where are you currently viewing the editor from, is it from the cicero-ui local development, or template studio local development or .....?

[2020-03-09 12:36] nik72619c commented on #329
I am currently viewing the prod version of the cicero-ui and tried to make a selected portion of the text bold by clicking on the `B` icon in the top formatToolbar.

[2020-03-09 12:45] jerrybuks commented on #329
@nik72619c  https://www.loom.com/share/eb2db161a3004834af2a8179e277a3be

[2020-03-09 12:57] nik72619c commented on #329
I was viewing through the demo link given here :-
https://cicero-ui.netlify.com

Video :-
![cicero-demo](https://user-images.githubusercontent.com/30630904/76214843-8a37fa80-6233-11ea-96e4-7c673d7cd1e8.gif)

[2020-03-09 13:01] jerrybuks commented on #230
Hello, please I'm currently stuck with this issue, it seems the ciceroMarkTransformer(which this project relies on), does not support list variables yet. please if it does, I'm trying to create a bulleted list variable in the demo file, before moving on to add the addition and deletion functionality, but it can find a syntax to use for this,  I observed that for creating variables, a "variable" ta

[2020-03-09 13:09] jerrybuks commented on #329
ooh, okay, not sure why it's not working there, probably maybe updates to cicero-ui has not been updated to production. Guess @jeromesimeon @irmerk can help

[2020-03-09 15:43] Michael-Grover opened #330 "Text in icon tooltips is selected when clicking on the icon"
**Describe the bug**
When a user clicks on an icon such as "delete", the text in the tooltips becomes selected.

See this video of the bug:

[tooltip-bug.mov.zip](https://github.com/accordproject/cicero-ui/files/4307567/tooltip-bug.mov.zip)

[2020-03-09 15:58] elit-altum commented on #330
@Michael-Grover Please help me understand the bug.
What operating system and browser are you using ? And how many clicks actually lead to the selection ?
Thank You.

[2020-03-09 15:59] Michael-Grover commented on #330
I am using Google Chrome on Mac OS Catalina

One click leads to the text cursor appearing on the tooltip, two clicks leads to the tooltip text being highlighted.

[2020-03-09 16:25] elit-altum commented on #330
It's strange because it had a different behavior on FireFox. Let me fix it.

[2020-03-09 17:44] jerrybuks commented on #230
@jeromesimeon could you please, give me any hint on this

[2020-03-09 17:47] Michael-Grover commented on #330
@elit-altum I recommend always testing on multiple browsers as each one has its own quirks, however if you have to choose one browser to test on, I would choose Chrome as it is the most widely used.
![image](https://user-images.githubusercontent.com/40569793/76242039-5d242180-620c-11ea-891d-a9d38f545025.png)

[2020-03-09 17:55] sanyamdogra commented on #328
Hi @a4aditya, The components you mentioned are under the heading "Still in development". I guess once they will be developed, these links will have their meaning.

[2020-03-09 18:09] sanyamdogra commented on #55
Hi @irmerk, why can't we use `aria-label` property to add a description for a button?

[2020-03-09 18:34] elit-altum commented on #330
Sure I'll remember that @Michael-Grover thank you!
Anyway I have been able to fix this on Firefox using ```user-action:none``` and ```touch-action:none``` but the issue persists on Google Chrome. Can you help me fix it ?

As an end solution, I can use the Semantic UI's ```popup``` and fix it. I have checked this issue doesn't persist on that element.

Some things I found out:
- The tooltip text is

[2020-03-09 18:36] Michael-Grover commented on #330
@elit-altum sorry I don't know enough about front-end code to help. Maybe @DianaLease or @irmerk can look at this issue if they happen to have free time.

[2020-03-09 18:40] irmerk commented on #328
Yes they probably should not have been linked in the first place, but they are not at their first stage yet. You could remove the links or close this issue.

[2020-03-09 18:41] irmerk commented on #55
Unsure why we can't?

[2020-03-09 18:59] sanyamdogra commented on #328
I guess it's a minor fix, should I make a PR with removing the link? @irmerk

[2020-03-09 19:07] irmerk commented on #330
Unsure at the moment, this will take some tinkering. It's pretty low priority at the moment.

[2020-03-09 19:11] irmerk commented on #329
Hmm looks like all the mark buttons (bold, italic, monospace) don't work.

[2020-03-09 19:12] irmerk commented on #329
This is not very good, need to look at ASAP.

[2020-03-09 19:16] irmerk commented on #328
Sure thing

[2020-03-09 19:38] jeromesimeon commented on #230
There is some support in `markdow-cicero`, but this may need some suggestion from the UI side to know if the translation to Slate is appropriate or needs some adjustment.

You should be able to start with the following tests samples:
`test/data/clauseulist.md`
`test/data/ulist.md`
`test/data/ulist-nolist.md`

For instance `ulist.md`:
[code]
[code]
bash-3.2$ markus parse --sample /Users/jeromesimeo

[2020-03-09 19:43] DianaLease commented on #330
@elit-altum if you add `contentEditable="false"` to the element that contains the text for those tooltips, it should prevent the issue that @Michael-Grover is showing in that video. I agree with @irmerk that this is pretty low priority though, so if that gives you trouble I wouldn't spend too much time on it.

[2020-03-09 20:27] elit-altum commented on #330
Thank you so much for this @DianaLease . This helped a lot!

Currently, the cursor coming before the tooltip text while clicking is fixed but multiple clicks on the icons continue to select the tooltip text. I will keep working to find a fix.
Thank you once again!

[2020-03-10 07:39] sanyamdogra commented on #55
I went through semantic UI docs and found that adding an `aria-label` to the Buttons will lead to a HTML code with the same `aria-label` for screen readers.
![image](https://user-images.githubusercontent.com/33497630/76289778-dfc1e500-62cf-11ea-8e23-2b57f34bd05f.png)
Ref:-https://react.semantic-ui.com/elements/button/#types-button

I can start by adding these from component to component? We can cr

[2020-03-10 14:13] irmerk commented on #55
I'm not sure I follow. `semantic-ui-react` supports aria-label, and you're saying we can't use it? But also that we should add these?

[2020-03-10 14:15] #328 closed

[2020-03-10 14:16] sanyamdogra commented on #55
Nope I didn't meant that we can't use them. I am saying that we should use them to enhance button description accessibility, thus fixing this issue. My question is that, will adding `aria-label` solve this issue? Or you are expecting something else.

[2020-03-10 14:24] irmerk commented on #55
Ah okay. Yes, that is what I had in mind.

[2020-03-10 14:48] sanyamdogra commented on #55
Alright, I'll get on with the PR then. I guess there are 2 places that have buttons:
* TemplateLibrary > Buttons
* Demo

Am I missing some?

[2020-03-10 15:39] irmerk commented on #55
I believe so.

[2020-03-10 16:31] sanyamdogra commented on #315
Hey @elit-altum, are you working on this? Can we co-work?

[2020-03-10 16:40] elit-altum commented on #315
Yeah sure! It looks like you have some good experience with StoryBook, I'd be happy to learn some as well. Could you please wait for sometime before we start working btw ? I have some other PR's being worked on and after I close them I'll get back at you asap.

[2020-03-10 16:44] sanyamdogra commented on #315
Oh great, I'll get started with the initial setup of the storybook then. Let's connect when you are through these PRs. Thanks!

[2020-03-10 19:05] irmerk opened #336 "User Interaction Testing"
This issue will track the tests which need to be implemented in order to increase stability of this codebase. Please feel free to add suggestions.

**MASTER_TOOLBAR**:
- [ ] Heading 1, 2, 3
- [ ] Keyboard Shortcuts
- [ ] `bold`
- [ ] `italic`
- [ ] `hyperlink`
- [ ] `code`
- [ ] `block_quote`
- [ ] `ol_list`
- [ ] `ul_list`
- [ ] `hyperlink`

**MASTER_HISTORY_CHECK**:
  - [ ] Undo
  - [ ] Redo

##

[2020-03-11 05:23] sanyamdogra commented on #315
I was thinking of laying a basic roadmap, please provide your feedback to it.
We can create 3 PRs just to create modularity and better reviewing can be done.

1.) Adding all the dependencies and minimal stuff to get storybook up and running by `npm run storybook`.

_After merging this PR we can change the Netlify deployment to the storybook, rather than Demo. The demo can be shifted to a single st

[2020-03-11 16:04] a4aditya commented on #314
This Issue should be Closed 👍

[2020-03-11 18:27] jeromesimeon commented on #315
@irmerk Should we add a `Testing` component to that list?

[2020-03-11 18:36] sanyamdogra commented on #315
Yes, we can do that too. In storybook we can have storyshots testing as an addon. We can use jest too but we'll have to investigate a bit.
Ref: https://storybook.js.org/docs/testing/react-ui-testing/

[2020-03-11 18:42] jeromesimeon commented on #214
Note: this affects `markdown-editor` too, probably where the fix should be?

[2020-03-11 19:02] #55 closed

[2020-03-11 23:59] irmerk commented on #314
Once #316 is merged this will be closed.

[2020-03-12 00:12] irmerk commented on #315
I think the second part of 1 (1.5) should be near the last, because we still want access to the demo while Storybook is being built.

The rest sounds right. So I think the order should be 1, 2, 3, 1.5:

1. Adding all the dependencies and minimal stuff to get storybook up and running by npm run storybook.
2. Adding the Components and their stories eg ContractEditor, TemplateLibrary, ErrorLogger, an

[2020-03-12 00:13] irmerk commented on #315
Unsure I follow you, what do you mean?

[2020-03-12 00:14] irmerk commented on #214
Ah yes need to transfer it thanks @jeromesimeon!

[2020-03-12 00:30] irmerk opened #339 "Conditional Variable is Editable"
**Describe the bug**
Conditional variables are editable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click on before the conditional variable
3. Right arrow into the conditional variable
4. Type

**Expected behavior**
This should be protected and not allowed

[2020-03-12 09:00] jerrybuks commented on #339
Let me fix this.

[2020-03-12 10:33] jerrybuks commented on #339
should

should this be protected, only when lockTestState is true or should it  be protected whether or not lockTestState is true/false?

[2020-03-12 12:57] #330 closed

[2020-03-12 13:00] elit-altum commented on #36
@irmerk Does this still need work ?

[2020-03-12 13:02] irmerk commented on #339
I believe we have `isEditable` functions that check to make sure a user can type already. So a conditional variable should be treated the same as non-variable text in that a user should not be able to edit it. And yes I think this all pertains to `lockText` being true.

[2020-03-12 13:13] irmerk commented on #36
@elit-altum it might, we haven't revisited this concept in a bit. @Michael-Grover do we have a clear goal in mind with this as a feature? We may not have a use for it anymore.

[2020-03-12 13:18] DianaLease commented on #36
This functionality currently gets passed in as a prop to the Template Library, so that the consumer of the component can decide what happens when a user clicks "Details". We may want to rethink that design though.

[2020-03-12 14:54] jerrybuks commented on #339
yeah, on it

[2020-03-12 19:51] jeromesimeon opened #344 "Quoting in Cicero UI doesn't seem to handle nested structures as the Md editor"
Quoting in the markdown editor properly preserves the structure of the selected part of the document:

![QuoteMarkdownEditor](https://user-images.githubusercontent.com/670099/76561230-3dddfc00-6479-11ea-9a4b-7568e2c9eb8c.gif)

It seems to lose the structure when quoting in Cicero UI:

![QuotingCiceroUI](https://user-images.githubusercontent.com/670099/76561260-4f270880-6479-11ea-8753-ca58f8be1d3c.

[2020-03-13 13:48] irmerk opened #346 "Beginning of Variables Editable"
**Describe the bug**
If the user moves to the left side of the first `"` in a variable, they can edit outside the `"..."` of the variable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click anywhere in `...shall pay to...` in the first line
3. Right arrow to the left side of the first `"` in `"Steve"`
4. Type anything, see nothing is allo

[2020-03-13 13:57] DianaLease commented on #346
I think the main issue with this is more about the user knowing the variable needs to start with a quote. When I do the steps listed in the issue to reproduce, I'm still inside the variable (any new text I type is blue and can still be removed). The issue is it won't parse unless I add a new quotation at the start of the variable.

I'm not sure how to make that apparent to the user. Maybe we can t

[2020-03-13 13:59] irmerk commented on #346
Excellent point. And this goes back into the ongoing discussion we have for variables being edited through a pop-up editor, which would make this issue moot.

[2020-03-13 18:38] jerrybuks commented on #346
I think I can help with this, the reason while this happens is that the anchor.offset value changes. when you Right arrow to the left side of the first " in "Steve", the current implementation sees it that you are not in the variable yet (anchor.offset is 27) and therefore prevents editing, but once you Right arrow into "Steve", then left arrow back to the left side of the first " in "Steve", it t

[2020-03-13 19:45] #314 closed

[2020-03-13 20:37] #339 closed

[2020-03-13 20:41] #230 closed

[2020-03-13 21:35] jerrybuks commented on #346
I think not letting the user remove the quotes, and ensuring that editing only happens in between the quotes will solve this issue

[2020-03-17 12:12] algomaster99 commented on #346
@DianaLease @irmerk To begin with getting familiar with Accord Project, I would like to take this issue up. Before that, I had one doubt. Should I just try to prevent a user from removing the `"`. If yes, can you let me know where the logic for preventing edits in the template is written?

[2020-03-17 12:15] dselman commented on #346
Let's hold off on this until the migration to Slate 0.50 is complete.
https://github.com/accordproject/markdown-editor/issues/297

[2020-03-17 16:05] SaiAshish9 opened #351 "Delete Icon is not functional currently."
![image](https://user-images.githubusercontent.com/43849911/76875763-01eed080-6897-11ea-8a26-68c7bfc4621a.png)

[2020-03-17 16:06] SaiAshish9 commented on #351
I'm currently working on this issue.

[2020-03-17 17:33] irmerk commented on #351
This isn't an issue, none of those buttons have functionality. They are passed functionality from whoever uses this component in the app that consumes `cicero-ui`. The demo has no functionality because we don't pass a function to it.

[2020-03-17 17:33] #351 closed

[2020-03-17 17:41] SaiAshish9 commented on #351
Oh thank you Joelene !

On Tue, Mar 17, 2020, 11:03 PM Jolene Langlinais <notifications@github.com>
wrote:

[2020-03-18 13:01] ankingcodes commented on #3
@irmerk @jeromesimeon I'd like to work on this.
Need some more details on the issue.

[2020-03-18 13:09] irmerk commented on #3
@ankingcodes I think this issue is a bit stale, we need to revisit it, but I don't think we are going to keep pursuing the Editor components from ~April 2019.

[2020-03-18 19:47] nik72619c commented on #251
@irmerk what can be the possible resolution for this? I needed some more context on it.

[2020-03-18 20:04] nik72619c opened #354 "[FEATURE] Add a shortcut list modal"
**Is your feature request related to a problem? Please describe.**
Currently, there is no modal which could show a list of shortcuts. This could be helpful for people to view them in one place rather than hover on each one of them.

**Describe the solution you'd like**
Create a button which could trigger a modal, displaying a list of shortcuts in the demo.

**Additional context**
I would like to i

[2020-03-18 22:19] shakti97 opened #355 "Add Class prop"
**Is your feature request related to a problem? Please describe.**
I am currently using the word add in, when I hover over the button, it changes its background to white and there is no prop to handle hover

**Describe the solution you'd like**
instead of three different prop( Action button, Action Button Bg, Action Button Border) on any item i.e. Action we can just use a prop class which will cat

[2020-03-19 13:53] irmerk commented on #251
@nik72619c I suspect this will eventually be solved by our aim to have a more robust demo via Storybook, the issue tracking that is [here](https://github.com/accordproject/cicero-ui/issues/315). Still unsure how that will pan out, but I imagine one of the examples having a `pasteToContract` which handles replicating the clause template object in slate?

[2020-03-19 13:54] irmerk commented on #354
@Michael-Grover any thoughts on this?

[2020-03-19 13:56] irmerk commented on #355
I believe [this issue](https://github.com/accordproject/cicero-ui/issues/320) is tracking a solution to this problem. Does that sound accurate?

[2020-03-19 13:57] Michael-Grover commented on #354
@nik72619c can you show examples of other products that do something like this?

[2020-03-19 13:58] Michael-Grover commented on #354
I'm not sure if this is necessary. There's already a list of shortcuts in the documentation

[2020-03-20 05:28] shakti97 commented on #320
Can I work on this issue @irmerk

[2020-03-20 05:29] shakti97 commented on #355
yes, closing this issue

[2020-03-20 05:29] #355 closed

[2020-03-20 21:17] irmerk commented on #320
This issue may be affected by the [migration](https://github.com/accordproject/markdown-editor/issues/297) to Slate `v0.57`, so I'd hold off right now.

[2020-03-20 21:22] irmerk opened #356 "Netlify Build of Storybook Demo"
Along with Issue #315, we need to initialize a Netlify build for the Storybook demo.

@jeromesimeon could you provide any context on how to go about this?

[2020-03-24 21:58] irmerk opened #357 "Slate Migration (v0.57)"
The `ContractEditor` and plugins need to be updated to use Slate `v0.57`. This is a major release of Slate with many breaking changes.

This work is underway in the `slate57` branch. Note that you also need to `npm link` to the `accordproject/markdown-editor` on the `slate57` branch **AND** follow the linking instructions in [this issue](https://github.com/accordproject/markdown-editor/issues/297)

[2020-03-29 08:41] 98lenvi commented on #356
@irmerk, I've attempted a fix (#358). Please let me know if this is the right approach

[2020-03-29 13:54] nik72619c commented on #354
I saw something in the following project, and thats why this struck my mind :-
https://vega.github.io/editor/#/

The shortcut list can be found under the help modal.

[2020-03-29 14:33] nik72619c opened #359 "If searched template is not found, it should return no result found message"
**Describe the bug**
On searching something that is not present in the template list, there should be a message saying that the records were not found but nothing is seen there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Template Library List`
2. Search something which is not present in the list

**Expected behavior**
A message should be provided indicating that `no results were

[2020-03-29 14:38] irmerk commented on #359
@Michael-Grover thoughts/ideas? This is for the `TemplateLibrary` in `cicero-ui`

[2020-03-29 20:01] Michael-Grover commented on #354
this product has way more shortcuts than we have, and our shortcuts are mostly standard ones like cmd+b or cmd+k. I don't think a shortcut list within the UI is necessary for the number of shortcuts we have.

[2020-03-29 20:02] Michael-Grover commented on #359
this sounds good to me

[2020-03-30 13:20] #354 closed

[2020-03-31 09:29] imnik11 commented on #344
It is due to the improper text selection. Actually while text selection the bulleted list or the numbered list is getting selected. It works fine in both cicero-ui and markdown editor when I select the structure without selecting the bullet list or numbered list. As you have selected in the markdown editor. Even the markdown editor also does not preserves the selected structure when numbered or bu

[2020-03-31 13:10] irmerk commented on #344
@imnik11 this may be fixed when we migrate to Slate `v0.57`, being tracked [here][mde] and [here][cui].

[cui]: https://github.com/accordproject/cicero-ui/issues/357
[mde]: https://github.com/accordproject/markdown-editor/issues/297

[2020-04-01 15:01] irmerk commented on #3
@jeromesimeon any thoughts about #2, #3, #4, #5, and #7, being stale?

[2020-04-01 15:03] jeromesimeon commented on #3
Stale!

[2020-04-01 15:03] #3 closed

[2020-04-01 15:03] jeromesimeon commented on #4
I think we still need a JSON editor?

[2020-04-01 15:04] jeromesimeon commented on #5
This is design mode. I think we still want to do this?

[2020-04-01 15:07] jeromesimeon commented on #7
I'm less clear about this. If we do more work on VSCode, we may not need to edit Ergo in React component.

On the other hand: this could be useful if we want to edit Ergo formulas (aka computed variables). See XXX (@Michael-Grover I'm not sure where the issue about computed variables is -- didn't we have one?)

[2020-04-01 15:07] jeromesimeon commented on #2
Wouldn't a testing component be useful? Maybe we don't need this.

[2020-04-01 15:09] Michael-Grover commented on #7
@jeromesimeon I'll make an issue for computed variables unless someone finds an existing issue. I don't see an existing issue.

[2020-04-01 20:31] Michael-Grover opened #362 "Computed variables UI"
Add support for computed variables in the Cicero UI

https://projects.invisionapp.com/d/main#/console/16741009/406893195/preview
![image](https://user-images.githubusercontent.com/40569793/78183374-cd9e1700-7435-11ea-8dce-c1754ea42f13.png)

---

https://projects.invisionapp.com/d/main#/console/16741009/406893196/preview
![image](https://user-images.githubusercontent.com/40569793/78183392-d42c8e80-

[2020-04-01 20:34] Michael-Grover commented on #362
@jeromesimeon

[2020-04-02 09:05] petrgazarov opened #363 "TemplateLibrary: make styles extensible with classes; change to support heterogeneous libraries"
**Is your feature request related to a problem? Please describe.**
The `TemplateLibrary` component fits well into a use case we have at Clause.io, but there are limitations that I hope we can address in this repository.

1) Stylistically, we want to have control over colors, font properties and borders inside the card.
2) Our libraries are heterogeneous and the library items are of various types (

[2020-04-02 13:13] jeromesimeon commented on #363
This sounds like a good idea. I don't have a very good understanding of the internals of this class, but I have two questions:
- Where would the different content in the rendered component come from? (⬛ KIT)
- Internally what are the constraints i.e., when you press "Details" what do you expect to happen? when you press "+ Add to contract" what do you expect to happen?

[2020-04-02 14:27] DianaLease commented on #363
I like (1) in @petrgazarov's list and is the direction we are moving toward regardless (see https://github.com/accordproject/cicero-ui/issues/320).
I'm also fine with (2). It will be a breaking change but making it generic means we wouldn't run into this issue again in the future if there are other types of library items users would like to display.

[2020-04-02 16:25] DianaLease commented on #363
@irmerk - Quick question for you: @petrgazarov is going to work on these two items in 2 separate PRs. Which branch should be used? `master` or `development`? I know we are getting rid of `development` but right now it is still the default.

[2020-04-02 22:46] irmerk commented on #363
I agree with @DianaLease

We are moving away from our heavy reliance on styling props. This can be revisited when the Slate `0.57` migration is complete, as I think it will solve most if not all of this issue.

---

I like this change being in line with AP trying to be as agnostic as possible. I'm unsure what the implications will be for `addToCont`/`+ Add to contract`, as different library items

[2020-04-02 22:47] algomaster99 opened #364 "Extend the support for logo in Template Library"
**Is your feature request related to a problem? Please describe.**
We can add the support for the logo in the `TemplateLibrary` Component since https://github.com/accordproject/cicero/pull/533 is merged.

**Describe the solution you'd like**
I am actually not sure how we can extend the support here :sweat: @irmerk @DianaLease I would need your suggestions. :sweat_smile:

[2020-04-02 23:00] irmerk commented on #364
Yes this is a good issue. It will wait for https://github.com/accordproject/cicero-ui/issues/357, but should be _relatively_ straightforward to swap out the current logo being an image with the `src` populated by props.

[2020-04-02 23:07] Michael-Grover commented on #363
I'm not sure I follow the question, but I like the idea that different types of library items can look different. Maybe they could have customized buttons too in the future if there are library items that cant' be added to the contract?

[2020-04-04 18:19] nik72619c opened #365 "extra clickable area of import buttons"
**Describe the bug**
The buttons like `import from vs code` and `upload CTA file` have an extended clickable area. Therefore, the buttons are clickable beyond their content.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the `template library` section of cicero-ui
2. hover on the `import from vs code` button beyond its content
3. Notice the extra spacing

**Expected behavior**
The user

[2020-04-04 18:21] nik72619c commented on #365
@irmerk @DianaLease,discussed this issue already on slack, filing a PR for it.

[2020-04-06 13:25] irmerk commented on #365
@nik72619c could you copy over the conversation or a summary of it?

[2020-04-06 14:22] #365 closed

[2020-04-10 20:39] irmerk commented on #357
Closing, still working on variable list support, but now everyone can start work off `master` again.

[2020-04-10 20:39] #357 closed

[2020-04-10 20:47] irmerk commented on #346
@algomaster99 @jerrybuks:

#357 (and accordproject/markdown-editor#297) has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-10 20:47] irmerk commented on #320
@98lenvi @kanav-raina @shakti97:

#357 (and accordproject/markdown-editor#297) has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-10 20:47] irmerk commented on #344
@imnik11:

#357 (and accordproject/markdown-editor#297) has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-10 20:50] irmerk commented on #364
@algomaster99 #357 is done and is no longer a blocker.

[2020-04-10 20:53] jerrybuks commented on #346
Awesome, will get back at it

[2020-04-11 07:50] dselman opened #374 "Pressing backspace with caret at start of variable allows delete of non variable text"
Pressing the backspace key with caret at start of variable allows delete of non variable text.

**To Reproduce**
1. https://cicero-ui.netlify.com
2. Place caret at the end of "Party A"
3. Press backspace to delete all text in the variable except the "
4. Press left arrow key
5. Press backspace
6. The line break outside the variable is removed

**Expected behavior**
Should not be able to delete tex

[2020-04-11 12:09] jerrybuks commented on #346
@irmerk, one can still edit text at the beginning of variables (i.e before the opening quotation mark), but it seems not to be an issue again, as the variables are now in a container with a different background, so it's quite obvious to the user that they are still in a variable and should, therefore, adjust the starting quotation mark. please kindly take a look and suggest if the editing before t

[2020-04-11 16:25] imnik11 commented on #344
No the issue still persist. I think it is due to the selection of bulleted list / numbered list while quoting as shown in the markdown editor
https://user-images.githubusercontent.com/45528152/78009656-f8696c00-735e-11ea-96dd-aec62f3f7e03.gif
and ciceri ui
https://user-images.githubusercontent.com/45528152/78010554-1e434080-7360-11ea-82e2-8b93c93c6118.gif

[2020-04-12 11:58] dselman opened #375 "No css for block quote"
**Describe the bug**
Formatting some text as a block quote indents the text, but no additional css is applied.

**To Reproduce**
1. Select text
2. Press the block quote toolbar button
3. Text gets indented

**Expected behavior**
Some formatting is applied - e.g. see what Medium or what other markdown editors use.

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Browser Sa

[2020-04-12 12:24] arteevraina commented on #375
@dselman Can I work on this?

[2020-04-12 14:59] dselman opened #376 "Storybook packaged as a dependency"
https://github.com/accordproject/cicero-ui/blob/master/package.json#L28

Should story book be a dependency? How does this impact bundle size?

[2020-04-12 15:08] arteevraina commented on #376
@dselman I would like to work on this.

[2020-04-12 19:39] irmerk commented on #375
@arteevraina sure thing, look for input from @Michael-Grover on this as well.

[2020-04-12 19:41] irmerk commented on #376
This ties in with #358 and #315, @98lenvi is working on it.

[2020-04-12 19:45] irmerk commented on #344
Alright thanks for checking! I think this issue is just in `markdown-editor`, which is where we would be handling this logic. Moving it there.

[2020-04-12 19:51] irmerk commented on #346
I think the current status is what we want. @Michael-Grover @DianaLease thoughts?

[2020-04-12 19:53] irmerk opened #377 "SHIFT+Enter Inside Variable"
**Describe the bug**
A user can create a new paragraph within a variable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click anywhere in `"Party A"` in the first line
3. Press `SHIFT + Enter`
4. See new paragraph created

**Expected behavior**
This should be restricted

[2020-04-12 20:00] arteevraina commented on #377
I would like to work on this too.

[2020-04-12 20:01] arteevraina commented on #375
@irmerk Sure!

[2020-04-12 22:12] jerrybuks opened #378 "Undoing Breaks The Editor"
**Describe the bug**
undoing multiple times breaks the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click on anywhere inside "Party A''
3. move your cursor to right using the right arrow key, to just immediately after the last " of "Party A"
4. press backspace till you reach the first "
5. Hold ctrl+z or keep clicking undo, the e

[2020-04-13 11:31] dselman opened #379 "Custom dialogs to edit links and images"
The toolbar allows inserting both links and images. Both would benefit from a custom dialog to insert new links or to edit existing links.

[2020-04-13 11:35] dselman opened #380 "Pop-up Editors"
Providing a modal pop-up to edit variables would be useful as it would constrain users from entering bad data:

- [ ] String variable: unconstrained text input
- [ ] String variable with regex in model: constrain text input based on a regex
- [ ] Integer/Long variable: whole numbers only (including negative numbers)
- [ ] Float/Double variable: floating point numbers only (including negative numbe

[2020-04-13 11:50] dselman opened #381 "Heading One not preserved on Paste"
**Describe the bug**
Copy/paste within the editor doesn't preserve H1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cicero-ui.netlify.com
2. Select "Heading One" as well as the first paragraph.
3. Press CTRL-C to copy
4. Place cursor after "this is inline code" on a newline
6. Press CTRL-V to paste
7. Note that "Heading One" is inserted as normal text. The rest of the format

[2020-04-13 13:05] DianaLease commented on #346
@irmerk Yes, with the new slate migration, I believe we can close this issue.

[2020-04-13 13:28] 98lenvi commented on #315
@irmerk, can I try working on this issue? Thanks.

[2020-04-13 13:29] #346 closed

[2020-04-13 13:34] 98lenvi commented on #320
@irmerk, Sorry about not responding earlier. I'll check and report by observations here.

[2020-04-13 13:40] irmerk commented on #320
I believe the `ContractEditor` portion of this issue is finished.

[2020-04-13 14:49] DianaLease commented on #376
@98lenvi I would check out the install docs here: https://storybook.js.org/docs/guides/guide-react/#step-1-add-dependencies

[2020-04-13 15:20] Michael-Grover commented on #375
![image](https://user-images.githubusercontent.com/40569793/79132599-a1a95c80-7d78-11ea-8df6-9b4aabca4f5b.png)

I think block quotes in Cicero UI should have a horizontal line in addition to the existing indentation like markdown editor already has:

![image](https://user-images.githubusercontent.com/40569793/79132638-b259d280-7d78-11ea-841f-8a0942953a55.png)

[2020-04-13 17:04] jeromesimeon commented on #380
I'm wondering how much of this could leverage the form generation for Concerto in https://github.com/accordproject/concerto-ui

It would be great to be able to reuse as much of it as possible.

[2020-04-14 11:47] arteevraina commented on #377
@irmerk As described in the issue `SHIFT + Enter` is used to create a new paragraph. By pressing even only `Enter` inside the variable we can create a new paragraph. Can you confirm it?

[2020-04-14 15:32] irmerk commented on #377
Just <kbd>ENTER</kbd> doesn't add a new paragraph. Only <kbd>SHIFT</kbd> + <kbd>ENTER</kbd>

[2020-04-14 17:58] dselman opened #384 "Cannot delete a Clause with backspace"
We currently prevent removing Clauses using the backspace key. This means that you cannot easily remove all of the contract text if the contract contains a clause.

**To Reproduce**
1. Go to https://cicero-ui.netlify.com
2. Press CTRL-A to select all the text in the editor
3. Press backspace
4. Nothing happens (NOK)

**Expected behavior**
I think if that that range completely encompasses a clause

[2020-04-14 18:04] dselman opened #385 "Can apply bold and italics to inline code"
**Describe the bug**
You can use the toolbar to add both bold and italics to inline code. I don't think this is valid markdown and won't roundrip through the markdown transform.

**To Reproduce**
1. Go to https://cicero-ui.netlify.com
2. Click "code"
3. Press the bold and italic button
4. See code, italic and bold are all applied to the text (see screenshot).

**Expected behavior**
You should not

[2020-04-14 18:06] dselman commented on #385
I take it back... I DOES appear to be valid commonmark. Just verified with the Dingus:

## Try CommonMark

You can try CommonMark here.  This dingus is **`powered`** by
[commonmark.js](https://github.com/jgm/commonmark.js), the
JavaScript reference implementation.

[2020-04-14 18:06] #385 closed

[2020-04-14 18:07] jeromesimeon commented on #385
Sure is 😉

[2020-04-14 18:08] jeromesimeon commented on #385
Even:

<img width="757" alt="Screenshot 2020-04-14 at 2 08 23 PM" src="https://user-images.githubusercontent.com/670099/79258625-6d599d00-7e59-11ea-872d-9b0829c1116b.png">

[2020-04-16 14:32] 98lenvi commented on #384
@dselman, it seems to work when `lockText` prop is set to `false`. Please refer to the gif below.

![Peek 2020-04-16 19-59-working](https://user-images.githubusercontent.com/41874033/79468905-27e5cd00-801d-11ea-8907-0a64e5427ccb.gif)

[2020-04-16 21:42] Michael-Grover commented on #380
Here are some relevant mockups. I like @jeromesimeon 's idea of using the existing form generation so we don't have to reinvent anything. Maybe to start we stick the forms into a modal that appears upon clicking the variable, and improve from there?

![image](https://user-images.githubusercontent.com/40569793/79509184-febb4180-8008-11ea-9ea9-c1d8549e4e54.png)

![image](https://user-images.githubus

[2020-04-17 15:27] #376 closed

[2020-04-17 15:38] irmerk opened #386 "Enhance Storybook"
Our Storybook demo needs upgrading to easily develop and locally test all the components and their functionality.

Recommended to look into and utilize:
- [Storybook](https://storybook.js.org/)
- Issue #315

Some initial goal ideas:
- [x] [Publish our Storybook to Netlify](https://cicero-ui.netlify.app/)
- [ ] Remove `Demo` story (or propose new structure to Storybook?)
- [ ] Remove props knobs (#

[2020-04-17 15:39] irmerk commented on #315
Closing for #386

[2020-04-17 15:39] #315 closed

[2020-04-17 16:57] #356 closed

[2020-04-17 19:30] arteevraina opened #388 "Text color white in Template Library SearchBar."
**Describe the bug**
The text color is white inside the Template Library Search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [demo](https://cicero-ui.netlify.app/?path=/story/components-template-library--template-library)
2. Click on Template Library Component.
3. Type in search bar.

**Expected behavior**
The text color should be white so that it clearly differentiates it from

[2020-04-17 19:57] irmerk commented on #388
This seems like it will be in conjunction with #320 and #387. If you work on it, be sure to coordinate with @98lenvi

[2020-04-17 21:31] arteevraina commented on #388
Sure! :)

[2020-04-20 12:52] irmerk commented on #320
We should also keep potential collisions in mind, maybe prepend `className` with 'ciceroUI' or something.

[2020-04-20 20:48] jeromesimeon opened #392 "Changing conditional text results in wrong text order"
**Describe the bug**
When changing optional text, some of the text gets flipped around.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the demo with the promissory note template
2. Click on the optional variable
3. Notice the `at` work appears after the conditional text rather than before

**Screenshots**
<img width="842" alt="Screenshot 2020-04-20 at 4 47 35 PM" src="https://user-image

[2020-04-22 20:47] Michael-Grover commented on #380
Add format option at bottom of monetary amount form, date time form, to choose what format you want the form to render itself as in the template instantiation

[2020-04-23 15:03] irmerk commented on #378
Calling this line in `withLinks` is erroring because there is no parent:

[code]

This is stemming from `onChange`:

[code]

[2020-04-23 15:06] irmerk commented on #378
There seems to be a need to check in `onChange` to see if the editor is in focus? Trying to put `try/catch` in `isSelectionLink` kicks the issue down the road to the next function that's called and has the same issue.

[2020-04-23 17:46] arteevraina commented on #377
@irmerk I am not exactly able to trace from where it is coming. Can you please guide me a bit?

[2020-04-23 18:16] irmerk commented on #377
This will likely be solved in `withLists/insertBreak` which handles _essentially_ the functionality of pressing <kbd>ENTER</kbd>, or in `RichTextEditor/onKeyDown` where you can place a check for <kbd>SHIFT</kbd>+<kbd>ENTER</kbd> and make that create a new paragraph block.

[2020-04-23 18:50] arteevraina commented on #375
@irmerk This can be closed now.

[2020-04-23 20:07] #375 closed

[2020-04-25 15:35] jerrybuks opened #393 "Undoing After deleting values before "." breaks the editor"
**Describe the bug**
After deleting numbers before a decimal point, undoing to a certain point breaks the editor.

Steps to reproduce the behavior:
1. Go to the [demo](https://cicero-ui.netlify.app/)
2. In the demo section, scroll down to the bottom where you have the bulleted list
3. place you cursor at the end of the line of any of the list items (i.e after the percentage sign)
4. move your curs

[2020-04-27 13:22] dselman commented on #386
I am working on this.

[2020-04-27 17:24] irmerk commented on #393
This may be the same issue in https://github.com/accordproject/cicero-ui/issues/378, keeping open for now.

[2020-04-27 17:42] jerrybuks commented on #393
I think they looked similar, but noticed the PR you linked in #378 stopped the editor from breaking, but this issue still persisted

[2020-04-27 17:45] irmerk commented on #393
@jerrybuks I don't see t he issue persisting in [this build](https://deploy-preview-394--cicero-ui.netlify.app/?path=/story/components-demo--demo).

[2020-04-27 17:47] #378 closed

[2020-04-27 17:47] #393 closed

[2020-04-27 18:12] jerrybuks commented on #393
yeah, its fixed!

[2020-04-29 15:28] #392 closed

[2020-04-29 15:43] irmerk commented on #374
This looks solved, but a similar issue:

1. https://cicero-ui.netlify.com
2. Place cursor at beggining of "Party A"
3. Press <kbd>DELETE</kbd> to delete all text in the variable
4. Press once more
5. Space between variable and next word is removed and cannot be readded

[2020-04-29 16:19] jeromesimeon commented on #374
I'm not sure we are robust when we delete the `"` at the end (if this is what happens in this example). Could you add the Slate DOM before and after edit in that scenario?

[2020-04-29 18:08] #374 closed

[2020-04-29 18:17] irmerk commented on #377
@arteevraina any update on this?

[2020-04-29 18:19] arteevraina commented on #377
@irmerk Still working on it. I will be sending a PR soon.

[2020-04-29 18:19] #299 closed

[2020-04-29 18:19] #294 closed

[2020-04-29 21:14] dselman opened #399 "Storybook for all AP Components"
I've recently completed a spike on aggregating all the AP components into a single Storybook, and investigated how we might use various features: knobs, notes, docs, actions ...

The results are here:
https://github.com/accordproject/web-components

I also took the opportunity to standardise the build for all components to use `react-create-library` which does a nice job of web packing the librari

[2020-04-29 22:55] irmerk commented on #399
I think as long as we can get Cicero-UI to work with `react-create-library`, this is the route to go. All of our components are related (`cicero-ui`, `concerto-ui`, `markdown-editor`, etc.), and I think we should have them housed in the same area to reflect that. It just adds more difficulty on the potential consumer/developer to have them spread out. The added benefit of the Storybook having ever

[2020-04-30 14:18] irmerk commented on #363
@petrgazarov are you still planning on incorporating this work into the component?

[2020-04-30 14:23] irmerk commented on #34
Relates to #336

[2020-04-30 14:25] irmerk commented on #380
Related to #225

[2020-04-30 14:25] #225 closed

[2020-04-30 14:31] irmerk commented on #123
Related to #336

[2020-04-30 14:36] irmerk commented on #359
@nik72619c is there any update on this?

[2020-04-30 14:37] nik72619c commented on #359
@irmerk would be filing another PR for this

[2020-04-30 14:40] irmerk opened #400 "Dependencies Cleanup"
Need to take a hard look at all our dependencies. This library is pretty big.

This impacts security, development workflow (slow builds), and page load times.

[2020-04-30 17:25] DianaLease commented on #399
I agree with the above. IIRC,  `cicero-ui`'s configuration is not much different from `markdown-editor`'s, so I _think_ we should be able to get it to work with `create-react-library` if the markdown-editor worked.

That seems to be the only blocker to this change for me.
Although I don't really understand what is meant by `3. When/how do we refresh the code?`.

[2020-04-30 17:36] jeromesimeon commented on #399
A few things from my end:
- I would like to consolidate to use one deployment platform if possible for all our projects (e.g., only netlify or only GitHub pages/actions). I wouldn't do this for just one project. If we can move everything to GitHub pages then great. (separate questions there e.g., it's really easy to deploy every commit individually or to deploy specific branches with netlify -- ca

[2020-04-30 17:51] DianaLease commented on #399
On @jeromesimeon 's third point, I think we'll definitely still be able to have separate lifecycles for different projects. Also, often we'll release `markdown-editor`, then update `cicero-ui` to use that new release, and possibly then also release `cicero-ui`.  How would that workflow go in this new setup? I assume we would still release each package separately, correct?

[2020-05-01 14:24] irmerk opened #403 "Forward Delete Clause"
**Describe the bug**
A user can delete parts of a clause with forward delete

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click at the end of the first paragraph (... `inline code.`)
3. Press <kbd>Del</kbd>
4. See header in clause be removed from clause

**Expected behavior**
This should be restricted

[2020-05-01 15:20] #359 closed

[2020-05-04 22:52] #403 closed

[2020-05-08 16:48] arteevraina commented on #377
@irmerk `withLists/insertBreak` is in `markdown-editor` repo. Could not find any reference for it in `cicero-ui`. Could you guide me a little bit more please?

[2020-05-08 17:50] irmerk commented on #377
Ah yes! Definitely. So I was wrong and it would actually be in `withVariables`, so yeah not in `markdown-editor`, sorry!

The way these `withSomething` functions are working is they're taking the Slate editor and manipulating the functions on it. So each `withSomething` wrapping the editor can dictate it's own version of `editor.insertBreak` and then they will _all_ be called during runtime.

In `

[2020-05-11 21:24] #363 closed

[2020-05-13 14:56] irmerk commented on #34
Closing for https://github.com/accordproject/web-components/issues/15

[2020-05-13 14:56] #34 closed

[2020-05-13 14:57] irmerk commented on #123
Closing for https://github.com/accordproject/web-components/issues/15

[2020-05-13 14:57] #123 closed

[2020-05-13 14:59] #140 closed

[2020-05-13 15:00] #251 closed

[2020-05-13 15:03] irmerk commented on #399
Finished with `web-components`

[2020-05-13 15:03] #399 closed

[2020-05-13 15:03] #386 closed